<div class="jumbotron">
    <div class="divicons">
        <a href="https://proagrolab.com.ar/productos/" target="_blank"><img src="../../../assets/footer/Iconos-footer_Grandes-Animales.png"></a>
        <a href="https://paraquenos.com.ar/" target="_blank"><img src="../../../assets/footer/Iconos-footer_Paraqueños.png"></a>
        <a href="https://www.synkroxy.com.ar/que-es-synkro-xy/" target="_blank"><img src="../../../assets/footer/Iconos-footer_Synkro.png"></a>
        <a href="https://www.google.com/maps/d/u/0/viewer?mid=1RbP_tkC2boTg1yTpHBY88QbDmTA&ll=-3.81666561775622e-14%2C-41.25021749999996&z=1" target="_blank"><img src="../../../assets/footer/Iconos-footer_Comex.png"></a>
        <a href="https://proagrolab.com.ar/tercerizaciones/" target="_blank"><img src="../../../assets/footer/Iconos-footer_Tercerizaciones.png"></a>
        <img src="../../../assets/footer/Iconos-footer_Premix.png">
    </div>

    <div class="divfinal">
        <a href="https://proagrolab.com.ar/" target="_blank"><img class="logo" src="../../../assets/footer/Iconos-footer_Proagro.png"></a>
        
        <div class="foottext">
            <p>
                Laboratorio Proagro S.A. Montevideo 5757, Rosario, Sta. Fe, Argentina
            </p>
            <p>
                Línea Directa: +54 0341 456 3351 / Línea gratuita: 0800 555 0008 (solo p/Arg.)
            </p>
            <p>
                info@proagrolab.com.ar
            </p>
            <p>
                Aviso legal | Desarrollado por NeoCore Informatica - Proagro
            </p>
        </div>

        <div class="social">
            <a href="https://www.facebook.com/proagrolab" target="_blank" title="facebook"><img src="../../../assets/footer/Iconos-footer_FB1.png"></a>
            <a href="https://www.instagram.com/proagrolab/" target="_blank" title="instagram"><img src="../../../assets/footer/Iconos-footer_IN1.png"></a>
            <a href="https://twitter.com/proagrolab" target="_blank" title="twitter"><img src="../../../assets/footer/Iconos-footer_TW1.png"></a>
            <a href="https://www.linkedin.com/company/laboratorio-proagro-s-a/" target="_blank" title="linkedin"><img src="../../../assets/footer/Iconos-footer_IG1.png"></a>
            <a href="https://www.youtube.com/user/ProagroArgentina" target="_blank" title="youtube"><img src="../../../assets/footer/Iconos-footer_YT1.png"></a>
        </div>
    </div>

</div>
