<div class="jumbotron pr-0 pl-0">
    <!-- card -->
    <section class="container-fluid mt3 pr-0 pl-0">
        <div class="card-collumns">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8 col-md-12 mb-4">
                        <div class="card">
                            <!-- <div class="card mb-4 mr-4" style="width:800px"> -->
                            <!-- <img class="card-img-top embed-responsive-item img-fluid" src="../../assets/img/cards/licitaciones.jpg" alt="..."> -->
                            <!-- <h5 class="card-header bg-primary text-white">{{esp ? 'Licitaciones' : 'Tenders'}}</h5> -->
                            <div class="card-body overflow-auto">
                                <div class="mat-elevation-z8 table-responsive">
                                    <table mat-table [dataSource]='dataSource' matSort aria-label="Elements">
                                        <ng-container matColumnDef="licitacion">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Orden' : 'Tender'}}</th>
                                        <td mat-cell *matCellDef="let row">{{row.licitacion}}</td>
                                        </ng-container>
                                
                                        <ng-container matColumnDef="descrip">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Producto' : 'Product'}}</th>
                                            <td mat-cell *matCellDef="let row">{{row.descrip}}</td>
                                        </ng-container>
                                
                                        <ng-container matColumnDef="cantidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Cant.' : 'Quant.'}}</th>
                                            <td mat-cell *matCellDef="let row">{{row.cantidad}}</td>
                                        </ng-container>
                                
                                        <ng-container matColumnDef="unidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Unid.' : 'Unity'}}</th>
                                            <td mat-cell *matCellDef="let row">{{row.unidad}}</td>
                                        </ng-container>
                                
                                        <ng-container matColumnDef="fecha">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Inicio' : 'Start'}}</th>
                                            <td mat-cell *matCellDef="let row">{{row.fecha.substring(0,10)}}</td>
                                        </ng-container>
                                
                                        <ng-container matColumnDef="finaliza">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Fin' : 'End'}}</th>
                                            <td mat-cell *matCellDef="let row">{{row.finaliza.substring(0,10)}}</td>
                                        </ng-container>
                                
                                        <ng-container matColumnDef="estado">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Estado' : 'State'}}</th>
                                            <td mat-cell *matCellDef="let row">{{esp ? estadosLicitaciones[row.estado].estadoesp : estadosLicitaciones[row.estado].estadoeng}}</td>
                                        </ng-container>
                                
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>

                                <mat-paginator
                                    #paginator [length]="dataSource.data?.length" 
                                    [pageIndex]="0" 
                                    [pageSize]="25"
                                    [pageSizeOptions]="[25, 50, 100, 250]">
                                </mat-paginator>

                                <ng-container *ngIf="notDone">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border m-5" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </ng-container>
                            
                                <h5 class="card-title">{{esp ? 'Licitaciones Activas' : 'Active Tenders'}}</h5>
                                <p class="card-text">Consulte la lista de Licitaciones abiertas y elija en la que quiera hacer su oferta.</p>
                                <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vero quis architecto eius illo aperiam! Laborum at porro magnam, natus fuga mollitia tempora doloribus aut eligendi laudantium? Facere, et at.</p> -->
                                <a class="btn btn-primary" routerLink="/licitaciones" routerLinkActive="active">{{esp ? 'Ver mas' : 'See more'}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <!--<div class="card" style="width:500px"> -->
                            <img class="card-img-top embed-responsive-item img-fluid" src="../../assets/img/cards/productos.jpg" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{esp ? 'Productos' : 'Products'}}</h5>
                                <p class="card-text">Lista completa de Productos para licitar.</p>
                                <a class="btn btn-primary stretched-link" routerLink="/productos" routerLinkActive="active">{{esp ? 'Ver mas' : 'See more'}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <ng-container *ngIf="cuenta"> -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <!-- <div class="card mb-4" style="width:500px"> -->
                            <img class="card-img-top embed-responsive-item img-fluid" src="../../assets/img/cards/yes-no.jpg" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{esp ? 'Seleccion de Productos' : 'Product Selection'}}</h5>
                                <p class="card-text">Seleccione los Productos sobre los que desee recibir notificaciones de nuevas Licitaciones.</p>
                                <a class="btn btn-primary stretched-link" routerLink="/seleccion" routerLinkActive="active">{{esp ? 'Ver mas' : 'See more'}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <!-- <div class="card mb-4" style="width:500px"> -->
                            <img class="card-img-top embed-responsive-item img-fluid" src="../../assets/img/cards/descuentos.jpg" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{esp ? 'Ofertas' : 'Offers'}}</h5>
                                <p class="card-text">Seleccione los Productos sobre los que desee recibir notificaciones de nuevas Licitaciones.</p>
                                <a class="btn btn-primary stretched-link" routerLink="/ofertas" routerLinkActive="active">{{esp ? 'Ver mas' : 'See more'}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <!-- <div class="card mb-4" style="width:500px"> -->
                            <img class="card-img-top embed-responsive-item img-fluid" src="../../assets/img/cards/muestras.jpg" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{esp ? 'Muestras' : 'Samples'}}</h5>
                                <p class="card-text">Ingrese las Muestras de cada Oferta y verifique los resultados de Laboratorio.</p>
                                <a class="btn btn-primary stretched-link" routerLink="/muestras" routerLinkActive="active">{{esp ? 'Ver mas' : 'See more'}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </ng-container>  -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <!-- <div class="card mb-4" style="width:500px"> -->
                            <img class="card-img-top embed-responsive-item img-fluid" src="../../assets/img/cards/mensajes.png" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{esp ? 'Mensajes' : 'Messages'}}</h5>
                                <p class="card-text">Comuniquece con nosotros para saber más acerca de las Licitaciones, Ofertas, Muestras y Resultados.</p>
                                <a class="btn btn-primary stretched-link" routerLink="/mensajes" routerLinkActive="active">{{esp ? 'Ver mas' : 'See more'}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>