.jumbotron {
    background-color: white;
    color: black;
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-content: space-between;
    margin-bottom: 2px;
}

.welcome {
    text-align: center;
}

.mat-cell, mat-header-cell {
    padding: 5px 5px;
    text-align: center;
}

.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
}

.table thead th {
    vertical-align: top; 
    text-align: center;
}
  