.jumbotron {
    background-color: white;
    color: black;
    width: 100%;
    margin: auto;
    /* margin: 1rem 10px; */
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.welcome {
    width: 100%;
    text-align: center;
}

.activas {
    max-width: 60%;
}

.seleccion {
    max-width: 39%;
}

.cotiza {
    width: 538px;
    max-width: 38%;
}

.card {
    padding: 0 0;
}

.mat-cell, mat-header-cell {
    padding: 5px 5px;
    text-align: center;
}

.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
}

.table thead th {
    vertical-align: top; 
    text-align: center;
}
  
.boton {
    /* word-wrap: normal;
    display: inline-block;
    width: 120px; */
    font-size: 20px;
}

@media (max-width: 1036px) {
    .activas {
        width: 100%;
        max-width: none;
    }

    .seleccion {
        width: 50%;
        max-width: none;
    }

    .cotiza {
        width: 48%;
        max-width: none;
    }
   
}

@media (max-width: 700px) {
    .seleccion {
        width: 100%;
        max-width: none;
    }

    .cotiza {
        width: 100%;
    }
   
}