.hero {
    background-color: white;
    color: black;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    /* margin: auto; */
    /* margin: 1rem 10px; */
    /* padding: 10px; */
    /* display: flex; */
    /* gap: 10px; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
}

.container {
    /* width: 90%; */
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;
    height: auto;
}

.welcome {
    height: calc(100vh - 70px);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* height: inherit; */
    /* padding: 0; */
}

.container_textos {
    align-items: center;
    padding: 0;
    margin: 20px 20px;
}

.titulo {
    text-align: center;
}

.texto {
    text-align: justify;
}

.mockup {
    height: calc(100vh - 70px);
    width: 50%;
    /* object-fit: cover; */
}

.activas, .seleccion, .cotiza {
    /* max-width: 60%; */
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activas_grid {
    overflow: auto;
    width: 80%;
}

.imagen {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

/* .seleccion {
    max-width: 39%;
}

.cotiza {
    width: 538px;
    max-width: 38%;
} */

.card {
    padding: 0 0;
}

.mat-cell, mat-header-cell {
    padding: 5px 5px;
    text-align: center;
}

.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
}

.table thead th {
    vertical-align: top; 
    text-align: center;
}
  
.boton_container {
    display: flex;
    justify-content: space-around;
}

.boton {
    /* word-wrap: normal;
    display: inline-block;
    width: 120px; */
    font-size: 20px;
}

@media screen and (max-width: 1180px) {
    .welcome {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .mockup {
        width: 80%;
        height: 400px;
        margin: 40px;
    }

    .activas {
        width: 100%;
        flex-direction: column; 
    }

    .seleccion {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
        /* max-width: none; */
    }

    .cotiza {
        width: 100%;
        flex-direction: column; 
        /* max-width: none; */
    }
   
    .imagen {
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        padding: 10px 10px;
        /* margin: 20px; */
    }

}

@media screen and (max-width: 700px) {
    .seleccion {
        width: 100%;
        max-width: none;
    }

    .cotiza {
        width: 100%;
    }
   
}