<div class="jumbotron">
  <h3 class="mt-2">{{esp ? 'Usuarios' : 'Users'}}</h3>
  <div class="d-flex flex-row flex-wrap">
    <div class="mr-auto pr-2 flex-grow-1">
      <mat-form-field>
        <input matInput appearance="legacy" (keyup)="applyFilter($event.target.value)" placeholder="{{esp ? 'Filtro' : 'Filter'}}" />
      </mat-form-field>
    </div>
    <div class="container-btn-new">
      <button id="newbutton" mat-raised-button color="primary" (click)="openModal(editUsuarioModal, user, 'A')">
        <mat-icon>note_add</mat-icon>&nbsp; {{esp ? 'Nuevo Usuario' : 'New User'}}
      </button>
    </div>
  </div>

  <!-- table -->
  <!-- <div class="table-responsive mt-2"> -->

  <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z8"> -->
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table [dataSource]='dataSource' matSort aria-label="Elements">
        <!-- Name Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Empresa' : 'Brand'}}</th>
          <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
        </ng-container>

        <ng-container matColumnDef="CUIT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'CUIT/RUC' : 'CUIT/RUC'}}</th>
          <td mat-cell *matCellDef="let row">{{row.CUIT}}</td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Nombre' : 'Name'}}</th>
          <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Email' : 'Email'}}</th>
          <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>

        <!-- Perfil Column -->
        <ng-container matColumnDef="perfil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Perfil' : 'Profile'}}</th>
          <td mat-cell *matCellDef="let row">{{esp ? perfiles[row.perfil].perfilnom : perfiles[row.perfil].perfileng}}</td>
        </ng-container>

        <!-- Language Column -->
        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Idiona' : 'Language'}}</th>
          <td mat-cell *matCellDef="let row">{{row.language}}</td>
        </ng-container>

        <!-- Activo Column -->
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Activo' : 'Active'}}</th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="row.activo">
              <mat-slide-toggle [checked]="true" [disabled]="true" color=primary></mat-slide-toggle>
            </div>
            <div *ngIf="!row.activo">
              <mat-slide-toggle [checked]="false" [disabled]="true" color=primary></mat-slide-toggle>
            </div>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" data-toggle="tooltip" title="Update" (click)="openModal(editUsuarioModal, row, 'M')">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" data-toggle="tooltip" title="Delete" (click)="openModal(editUsuarioModal, row, 'B')">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" data-toggle="tooltip" title="Password" (click)="openModal(editUsuarioModal, row, 'P')">
              <mat-icon>https</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- </div>   -->
  
    <mat-paginator class="mat-elevation-z8 mb-3"
      #paginator [length]="dataSource.data?.length" 
      [pageIndex]="0" 
      [pageSize]="25"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>

    <ng-container *ngIf="notDone">
      <div class="d-flex justify-content-center">
        <div class="spinner-border m-5" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-container>

    <ng-template #editUsuarioModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="this.strTipo == 'A'">{{esp ? 'Nuevo' : 'New'}}</h5>
        <h5 class="modal-title" *ngIf="this.strTipo == 'B'">{{esp ? 'Borrar' : 'Delete'}}</h5>
        <h5 class="modal-title" *ngIf="this.strTipo == 'M'">{{esp ? 'Modificar' : 'Update'}}</h5>
        <h5 class="modal-title" *ngIf="this.strTipo == 'P'">Password</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="f" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="usuario" class="col-sm-3 col-form-label">{{esp ? 'Usuario' : 'User'}}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="usuario" id="usuario" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                <!-- Error -->
                <div *ngIf="f.controls.usuario.errors && f.controls.usuario.dirty" class="alert alert-danger mt-0">
                  <div *ngIf="f.controls.usuario.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                  <div *ngIf="f.controls.usuario.errors.pattern">{{esp ? 'Solo Mayúsculas sin espacios (Max=10)' : 'Only Uppercase Characters whitout spaces (Max=10)'}}</div>
                </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="nombre" class="col-sm-3 col-form-label">{{esp ? 'Nombre' : 'Name'}}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="nombre" id="nombre" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
              <!-- Error -->
              <div *ngIf="f.controls.nombre.errors && f.controls.nombre.dirty" class="alert alert-danger mt-0">
                <div *ngIf="f.controls.nombre.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                <div *ngIf="f.controls.nombre.errors.pattern">{{esp ? '(Max 50)' : '(Max 50)'}}</div>
              </div>
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="contacto" class="col-sm-3 col-form-label">{{esp ? 'Contacto' : 'Contact'}}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="contacto" id="contacto" [readOnly]="this.strTipo == 'B'">
            </div>  
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" formControlName="email" id="email" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
              <!-- Error -->
              <div *ngIf="f.controls.email.errors && f.controls.email.dirty" class="alert alert-danger mt-0">
                <div *ngIf="f.controls.email.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                <div *ngIf="f.controls.email.errors.pattern">{{esp ? 'Ingrese una direccion de mail valida' : 'Enter a valid email address'}}</div>
              </div>
            </div>  
          </div>

          <div *ngIf="this.strTipo == 'P'" class="form-group row">
            <label for="pass" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" formControlName="pass" id="pass">
              <!-- Error -->
              <div *ngIf="f.controls.pass.errors && f.controls.pass.dirty" class="alert alert-danger mt-0">
                <div *ngIf="f.controls.pass.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                <div *ngIf="f.controls.pass.errors.pattern">Must contains digits, lowercase an uppercase characters (Min=6 / Max=20)</div>
              </div>
            </div>  
          </div>

          <div *ngIf="this.strTipo == 'P'" class="form-group row">
            <label for="confpass" class="col-sm-3 col-form-label">{{esp ? 'Confirmar' : 'Confirm'}}</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" formControlName="confpass" id="confpass">
              <!-- Error -->
              <div *ngIf="f.controls.confpass.errors && f.controls.confpass.dirty" class="alert alert-danger mt-0">
                <div *ngIf="f.controls.confpass.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                <div *ngIf="f.controls.confpass.errors.pattern">Must contains digits, lowercase an uppercase characters (Min=6 / Max=20)</div>
                <div *ngIf="f.controls.confpass.errors.mustMatch">Passwords must match</div>
              </div>
            </div>  
          </div>

          <div class="form-group row">
            <label for="CUIT" class="col-sm-3 col-form-label">{{esp ? 'CUIT/RUC' : 'CUIT/RUC'}}</label>
            <div class="col-sm-9">
              <input type="string" class="form-control" formControlName="CUIT" id="CUIT"
                [readOnly]="this.strTipo == 'B'">
                <!-- Error -->
                <div *ngIf="f.controls.CUIT.errors && f.controls.CUIT.dirty">
                  <mat-error *ngIf="f.controls.CUIT.errors.required">
                      {{esp ? 'Requerido' : 'Required'}}
                  </mat-error>
                  <mat-error *ngIf="f.controls.CUIT.errors.pattern">
                      {{esp ? 'Solo d&iacute;gitos (Min=11 Max=15)' : 'Only digits (Min=11 Max=15)'}}
                  </mat-error>
              </div>
            </div>
          </div>
  
          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="proveedor" class="col-sm-3 col-form-label">{{esp ? 'Proveedor' : 'Supplier'}}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="proveedor" id="proveedor" [readOnly]="this.strTipo == 'B'">
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="contacto2" class="col-sm-3 col-form-label">{{esp ? 'Contacto 2' : 'Contact 2'}}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="contacto2" id="contacto2" [readOnly]="this.strTipo == 'B'">
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="email2" class="col-sm-3 col-form-label">Email 2</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" formControlName="email2" id="email2" [readOnly]="this.strTipo == 'B'">
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="contacto3" class="col-sm-3 col-form-label">{{esp ? 'Contacto 3' : 'Contact 3'}}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="contacto3" id="contacto3" [readOnly]="this.strTipo == 'B'">
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="email3" class="col-sm-3 col-form-label">Email 3</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" formControlName="email3" id="email3" [readOnly]="this.strTipo == 'B'">
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="contacto4" class="col-sm-3 col-form-label">{{esp ? 'Contacto 4' : 'Contact 4'}}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="contacto4" id="contacto4" [readOnly]="this.strTipo == 'B'">
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="email4" class="col-sm-3 col-form-label">Email 4</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" formControlName="email4" id="email4" [readOnly]="this.strTipo == 'B'">
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="laguage" class="col-sm-3 col-form-label">{{esp ? 'Idioma' : 'Language'}}</label>
            <div class="col-sm-9">
              <!-- <input type="text" class="form-control" formControlName="language" id="language" [readOnly]="this.strTipo == 'B'"> -->
              <select class="custom-select" formControlName="language" id="language" required="required">
                <option selected>{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                <option value="es">{{esp ? 'Español' : 'Spanish'}}</option>
                <option value="en">{{esp ? 'Ingles' : 'English'}}</option>
              </select>
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'P'" class="form-group row">
            <label for="perfil" class="col-sm-3 col-form-label">{{esp ? 'Perfil' : 'Profile'}}</label>
            <div class="col-sm-9">
              <!-- <input type="perfil" class="form-control" formControlName="perfil" id="perfil" [readOnly]="this.strTipo == 'B'"> -->
              <select class="custom-select" formControlName="perfil" id="perfil" required="required">
                <option [ngValue]="null">{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                <option [ngValue]="perfil.perfil" *ngFor="let perfil of perfiles">{{esp ? perfil.perfilnom : perfil.perfileng}}</option>
              </select>
            </div>  
          </div>

          <div *ngIf="this.strTipo !== 'B' && this.strTipo !== 'P'" class="form-group row">
            <label for="activo" class="col-sm-3 col-form-label">{{esp ? 'Activo' : 'Active'}}</label>
            <div class="col-sm-9">
              <div class="ml-2 mt-1">
                <mat-slide-toggle formControlName="activo" id="activo" color=primary [readOnly]="this.strTipo == 'B'"></mat-slide-toggle>
                <!-- <!-- <input type="checkbox" class="my_checkbox" formControlName="activo" id="activo"> -->
              </div>
            </div>  
          </div>

          <div class="modal-footer">
            <div *ngIf="this.strTipo === 'B'">
              <button type="submit" class="btn btn-primary">{{esp ? 'Borrar' : 'Delete'}}</button>
            </div>
            <div *ngIf="this.strTipo !== 'B'">
              <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{esp ? 'Guardar' : 'Save'}}</button>
            </div>
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">{{esp ? 'Cancelar' : 'Cancel'}}</button>
          </div>

          <!-- <hr>
          <pre>{{f.controls.errors | json}}</pre>
          <hr>
          <hr>
          <pre>{{f.controls.nombre.errors | json}}</pre>
          <hr> -->

        </form>
      </div>
    </ng-template>
</div>