<div class="jumbotron">
  <ng-container *ngIf="cuenta">
    <h3 class="mt-2" *ngIf="cuenta.perfil < 4" class="mt-2">{{esp ? 'Proveedores' : 'Suppliers'}}</h3>
    <h3 class="mt-2" *ngIf="cuenta.perfil >= 4">{{esp ? 'Ficha de Proveedor' : 'Supplier Card'}}</h3>
    <div class="d-flex flex-row flex-wrap">
      <div class="mr-auto pr-2 flex-grow-1" *ngFor="let filter of filterSelectObj">
        <mat-form-field>
          <mat-label>Filter {{esp ? filter.name : filter.nameeng}}</mat-label>
          <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
            (change)="filterChange(filter,$event)">
            <option value="">-- Select {{esp ? filter.name : filter.nameeng}} --</option>
            <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
          </select>
        </mat-form-field>
      </div>

      <div class="container-btn-new">
        <button id="filterbutton" mat-raised-button color="warn" (click)="resetFilters()">
          <mat-icon>search_off</mat-icon>&nbsp; Reset
        </button>
      </div>
      &nbsp;

      <ng-container *ngIf="cuenta.perfil!=1 && cuenta.perfil!=3">
        <div class="container-btn-new">
          <button id="newbutton" mat-raised-button color="primary" (click)="openModal(editSupplierModal, offer, 'A')">
            <mat-icon>note_add</mat-icon>&nbsp; {{esp ? 'Nueva Proveedor' : 'New Supplier'}}
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- Proveedores -->
  <div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]='dataSource' matSort aria-label="Elements">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Codigo' : 'Code'}}</th>
        <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Usuario' : 'User'}}</th>
        <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Nombre' : 'Name'}}</th>
        <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
      </ng-container>

      <ng-container matColumnDef="localidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Localidad' : 'Citty'}}</th>
        <td mat-cell *matCellDef="let row">{{row.localidad}}</td>
      </ng-container>

      <ng-container matColumnDef="provincia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Provincia' : 'State'}}</th>
        <td mat-cell *matCellDef="let row">{{row.provincia}}</td>
      </ng-container>

      <ng-container matColumnDef="pais">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Pais' : 'Country'}}</th>
        <td mat-cell *matCellDef="let row">{{row.pais}}</td>
      </ng-container>

      <ng-container matColumnDef="desempeno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Desempeño' : 'Performance'}}</th>
        <td mat-cell *matCellDef="let row">{{row.desempeno}}</td>
      </ng-container>

      <!-- Activo Column -->
      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Activo' : 'Active'}}</th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="row.activo">
            <mat-slide-toggle [checked]="true" [disabled]="true" color=primary></mat-slide-toggle>
          </div>
          <div *ngIf="!row.activo">
            <mat-slide-toggle [checked]="false" [disabled]="true" color=primary></mat-slide-toggle>
          </div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{esp ? 'Acciones' : 'Acctions'}}</th>
        <td mat-cell *matCellDef="let row">
          <!-- <ng-container *ngIf="cuenta"> -->
            <!-- <ng-container *ngIf="cuenta.perfil==0 || cuenta.perfil==2"> -->
              <button mat-icon-button color="primary" (click)="openModal(editSupplierModal, row, 'M')">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="openModal(editSupplierModal, row, 'B')">
                <mat-icon>delete</mat-icon>
              </button>
            <!-- </ng-container> -->
          <!-- </ng-container> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator class="mat-elevation-z8 mb-3" #paginator [length]="dataSource.data?.length" [pageIndex]="0"
    [pageSize]="25" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>

  <ng-container *ngIf="notDone">
    <div class="d-flex justify-content-center">
      <div class="spinner-border m-5" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>

  <!-- Modal supplier Nuevo-->
  <ng-template #editSupplierModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" *ngIf="this.strTipo == 'A'">{{esp ? 'Nuevo' : 'New'}}</h5>
      <h5 class="modal-title" *ngIf="this.strTipo == 'B'">{{esp ? 'Borrar' : 'Delete'}}</h5>
      <h5 class="modal-title" *ngIf="this.strTipo == 'M'">{{esp ? 'Modificar' : 'Update'}}</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="f" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="usuario" class="col-sm-3 col-form-label">{{esp ? 'Usuario' : 'User'}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="usuario" id="usuario"
              [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
            <!-- Error -->
            <div *ngIf="f.controls.usuario.errors && f.controls.usuario.dirty" class="alert alert-danger mt-0">
              <div *ngIf="f.controls.usuario.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
              <div *ngIf="f.controls.usuario.errors.pattern">{{esp ? 'Solo Mayúsculas sin espacios (Max=10)' : 'Only Uppercase Characters whitout spaces (Max=10)'}}</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="nombre" class="col-sm-3 col-form-label">{{esp ? 'Nombre' : 'Name'}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="nombre" id="nombre"
              [readOnly]="this.strTipo == 'B'">
            <!-- Error -->
            <div *ngIf="f.controls.nombre.errors && f.controls.nombre.dirty" class="alert alert-danger mt-0">
              <div *ngIf="f.controls.nombre.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
              <div *ngIf="f.controls.nombre.errors.pattern">{{esp ? 'Solo Mayúsculas (Max 50)' : 'Only Uppercase Characters (Max 50)'}}</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="codigo" class="col-sm-3 col-form-label">{{esp ? 'Codigo' : 'Code'}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="codigo" id="codigo"
              [readOnly]="this.strTipo == 'B'">
            <!-- Error -->
            <div *ngIf="f.controls.codigo.errors && f.controls.codigo.dirty" class="alert alert-danger mt-0">
              <div *ngIf="f.controls.codigo.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
              <div *ngIf="f.controls.codigo.errors.pattern">{{esp ? 'Solo Digitos (0-9 Max 10)' : 'Only Digits (0-9 Max 10)'}}</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="domicilio" class="col-sm-3 col-form-label">{{esp ? 'Domicilio' : 'Address'}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="domicilio" id="domicilio"
              [readOnly]="this.strTipo == 'B'">
            <!-- Error -->
            <div *ngIf="f.controls.domicilio.errors && f.controls.domicilio.dirty" class="alert alert-danger mt-0">
                <div *ngIf="f.controls.domicilio.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                <div *ngIf="f.controls.domicilio.errors.pattern">{{esp ? 'Solo Mayúsculas (Max 50)' : 'Only Uppercase Characters (Max 50)'}}</div>
              </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="telefono" class="col-sm-3 col-form-label">{{esp ? 'Telefono' : 'Telephone'}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="telefono" id="telefono"
              [readOnly]="this.strTipo == 'B'">
            <!-- Error -->
            <div *ngIf="f.controls.telefono.errors && f.controls.telefono.dirty" class="alert alert-danger mt-0">
                <div *ngIf="f.controls.telefono.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                <!-- <div *ngIf="f.controls.telefono.errors.pattern">Only Uppercase Characters (Max 30)</div> -->
              </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="c_postal" class="col-sm-3 col-form-label">{{esp ? 'Cod. Postal' : 'Zip Code'}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="c_postal" id="c_postal"
              [readOnly]="this.strTipo == 'B'">
            <!-- Error -->
            <div *ngIf="f.controls.c_postal.errors && f.controls.c_postal.dirty" class="alert alert-danger mt-0">
              <div *ngIf="f.controls.c_postal.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="localidad" class="col-sm-3 col-form-label">{{esp ? 'Localidad' : 'Citty'}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="localidad" id="localidad"
              [readOnly]="this.strTipo == 'B'">
            <!-- Error -->
            <div *ngIf="f.controls.localidad.errors && f.controls.localidad.dirty" class="alert alert-danger mt-0">
              <div *ngIf="f.controls.localidad.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="provincia" class="col-sm-3 col-form-label">{{esp ? 'Provincia' : 'State'}}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="provincia" id="provincia"
              [readOnly]="this.strTipo == 'B'">
            <!-- Error -->
            <div *ngIf="f.controls.provincia.errors && f.controls.provincia.dirty" class="alert alert-danger mt-0">
              <div *ngIf="f.controls.provincia.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="pais" class="col-sm-3 col-form-label">{{esp ? 'Pais' : 'Country'}}</label>
          <div class="col-sm-9">
            <!-- <input type="text" class="form-control" formControlName="pais" id="pais" [readOnly]="this.strTipo == 'B'"> -->
            <select class="custom-select" formControlName="pais" id="pais" required="required">
                <option [ngValue]="null">{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                <option [ngValue]="country.name" *ngFor="let country of countries">{{country.name}}</option>
            </select>
            <!-- Error -->
            <div *ngIf="f.controls.pais.errors && f.controls.pais.dirty" class="alert alert-danger mt-0">
              <div *ngIf="f.controls.pais.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="desempeno" class="col-sm-3 col-form-label">{{esp ? 'Desempeño' : 'Performance'}}</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" formControlName="desempeno" id="desempeno" [readOnly]="this.strTipo == 'B'">
          </div>
        </div>

        <div class="form-group row">
          <label for="ultcompra" class="col-sm-3 col-form-label">{{esp ? 'Ult. Compra' : 'Last Buy'}}</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" formControlName="ultcompra" id="ultcompra" [readOnly]="this.strTipo == 'B'">
          </div>
        </div>

        <ng-container *ngIf="f.controls.pais.value==='ARGENTINA'">
          <div class="d-flex flex-nowrap upfiles">
            <div class="p-0 m-0 col-3">
              <label for="constCUIT" class="mb-0">Constancia CUIT</label>
              <input id="constCUIT" style="visibility:hidden;" type="file"
                accept="application/pdf,application/vnd.ms-excel"
                (change)="onFileSelected($event, 'constCUIT')" [readOnly]="this.strTipo == 'B'">
            </div>
            <div class="mt-0 pt-0 col-9">
              <table class="table table-responsive">
                <tr *ngFor="let file of getFile('constCUIT');index as i">
                  <td class="upfiles" (click)="onPreviewFile(file)">{{file.originalName}}</td>
                  <td>
                    <!-- <button mat-icon-button color="warn" (change)="onDeleteFile(file, 'constCUIT')"> -->
                    <mat-icon class="pt-0 ml-2 filesicon" color="warn" (click)="onDeleteFile(file, 'constCUIT')">delete
                    </mat-icon>
                    <!-- </button> -->
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <ng-container *ngIf="cuitDone">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-2" role="status">
                <span class="sr-only">Adding...</span>
              </div>
            </div>
          </ng-container>

          <div class="d-flex flex-nowrap upfiles">
            <div class="p-0 m-0 col-3">
              <label for="constGAN" class="mb-0">Constancia Ganancias</label>
              <input id="constGAN" style="visibility:hidden;" type="file" (change)="onFileSelected($event, 'constGAN')"
                [readOnly]="this.strTipo == 'B'">
            </div>
            <div class="mt-0 pt-0 col-9">
              <table class="table table-responsive">
                <tr *ngFor="let file of getFile('constGAN');index as i">
                  <td class="upfiles" (click)="onPreviewFile(file)">{{file.originalName}}</td>
                  <td>
                    <mat-icon class="pt-0 ml-2 filesicon" color="warn" (click)="onDeleteFile(file, 'constGAN')">delete
                    </mat-icon>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <ng-container *ngIf="ganDone">
            <div class="d-flex justify-content-center">
              <div class="spinner-border m-2" role="status">
                <span class="sr-only">Adding...</span>
              </div>
            </div>
          </ng-container>

        </ng-container>

        <div *ngIf="this.strTipo !== 'B' && this.strTipo !== 'P'" class="form-group row">
          <label for="activo" class="col-sm-3 col-form-label">{{esp ? 'Activo' : 'Active'}}</label>
          <div class="col-sm-9">
            <div class="ml-2 mt-2">
              <mat-slide-toggle formControlName="activo" id="activo" color=primary [readOnly]="this.strTipo == 'B'">
              </mat-slide-toggle>
            </div>
          </div>
        </div>

        <!-- <div *ngIf="this.strTipo !== 'B' && this.strTipo !== 'P'" class="form-group row">
            <label for="activo" class="col-sm-3 col-form-label">{{esp ? 'Activo' : 'Active'}}</label>
            <div class="ml-2 mt-1">
              <input type="checkbox" class="my_checkbox" formControlName="activo" id="activo">
            </div>  
          </div> -->

        <div class="modal-footer">
          <div *ngIf="this.strTipo === 'B'">
            <button type="submit" class="btn btn-primary">{{esp ? 'Borrar' : 'Delete'}}</button>
          </div>
          <div *ngIf="this.strTipo !== 'B'">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{esp ? 'Guardar' : 'Save'}}</button>
          </div>
          <button type="button" class="btn btn-secondary"
            (click)="modal.dismiss()">{{esp ? 'Cancelar' : 'Cancel'}}</button>
        </div>
      </form>
    </div>

    <!-- <hr>
      <pre>{{f.controls.codigo.errors | json}}</pre>
      <hr>
      <hr>
      <pre>{{f.controls.descrip.errors | json}}</pre>
      <hr> -->

  </ng-template>

</div>