<div class="jumbotron">
  <img class="mt-2" src="../../assets/logo2.png">
</div>

<!-- <mat-sidenav-container class="sidenav-container" (backdropClick)="drawer.close()"> -->
<mat-sidenav-container class="sidenav-container" (backdropClick)="drawer.toggle()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" role="navigation"> 
    <mat-toolbar (click)="drawer.close()">Menu</mat-toolbar>
    <!-- [mode]="(isHandset$ | async) ? 'over' : 'side'" -->
    <!-- [opened]="(isHandset$ | async) === false"> -->
    <mat-nav-list>
      <ng-container *ngIf="cuenta">
        <a mat-list-item [matMenuTriggerFor]="menuLicita">{{esp ? 'Licitaciones' : 'Tenders'}}</a>
        <mat-menu #menuLicita="matMenu" yPosition="below">
          <a mat-menu-item routerLink="/activas" (click)="drawer.close()">{{esp ? 'Activas' : 'Actives'}}</a>
          <ng-container *ngIf="cuenta.perfil<3">
            <a mat-menu-item routerLink="/licitaciones" (click)="drawer.close()">{{esp ? 'Licitaciones' : 'Tenders'}}</a>
            <a mat-menu-item routerLink="/ofertas" (click)="drawer.close()">{{esp ? 'Ofertas' : 'Offers'}}</a>
          </ng-container>
          <ng-container *ngIf="cuenta.perfil==4">
            <a mat-menu-item routerLink="/ofertas" (click)="drawer.close()">{{esp ? 'Mis Ofertas' : 'My Offers'}}</a>
          </ng-container>
        </mat-menu>
  
  
        <a mat-list-item [matMenuTriggerFor]="menuMuestras">{{esp ? 'Muestras' : 'Samples'}}</a>
        <mat-menu #menuMuestras="matMenu" yPosition="below"> 
          <ng-container *ngIf="cuenta.perfil!=4">
            <a mat-menu-item routerLink="/muestras" (click)="drawer.close()">{{esp ? 'Muestras' : 'Samples'}}</a>
          </ng-container>
          <ng-container *ngIf="cuenta.perfil==4">
            <a mat-menu-item routerLink="/muestras" (click)="drawer.close()">{{esp ? 'Mis Muestras' : 'My Samples'}}</a>
          </ng-container>
        </mat-menu>

        <a mat-list-item [matMenuTriggerFor]="menuProductos">{{esp ? 'Productos' : 'Products'}}</a>
        <mat-menu #menuProductos="matMenu" yPosition="below"> 
          <a mat-menu-item routerLink="/productos" (click)="drawer.close()">{{esp ? 'Productos' : 'Products'}}</a>
          <ng-container *ngIf="cuenta.perfil!=3">
            <a mat-menu-item routerLink="/seleccion" (click)="drawer.close()">{{esp ? 'Seleccionar Productos' : 'Product Selection'}}</a>
            <a mat-menu-item routerLink="/myproducts" (click)="drawer.close()">{{esp ? 'Mis Productos' : 'My Products'}}</a>
          </ng-container>
        </mat-menu>
        
        <a mat-list-item [matMenuTriggerFor]="menuComunica">{{esp ? 'Comunicacion' : 'Communication'}}</a>
        <mat-menu #menuComunica="matMenu" yPosition="below"> 
            <a mat-menu-item routerLink="/mensajes" (click)="drawer.close()">{{esp ? 'Mis Mensajes' : 'My Messages'}}</a>
            <ng-container *ngIf="cuenta.perfil<=2">
              <a mat-menu-item routerLink="/mailsToSuppliers" (click)="drawer.close()">{{esp ? 'Mails a Proveedores' : 'Mails to Suppliers'}}</a>
            </ng-container>
        </mat-menu>

        <ng-container *ngIf="cuenta.perfil<=2">
          <a mat-list-item [matMenuTriggerFor]="menuAnexo">{{esp ? 'Anexo' : 'Other'}}</a>
          <mat-menu #menuAnexo="matMenu" yPosition="below"> 
            <button mat-menu-item routerLink="/usuarios">{{esp ? 'Usuarios' : 'Users'}}</button>
            <button mat-menu-item routerLink="/proveedores">{{esp ? 'Proveedores' : 'Suppliers'}}</button>
            <button mat-menu-item routerLink="/scorings">{{esp ? 'Scoring' : 'Scoring'}}</button>
          </mat-menu>
        </ng-container>

        <a mat-list-item [matMenuTriggerFor]="menuCuenta">
          <ng-container *ngIf="cuenta.perfil==5">
            <i class="mdi mdi-bell-alert yellow mdi-rotate-45" data-toggle="tooltip" data-placement="left" 
            title="{{esp ? 'Complete la Ficha de Proveedor' : 'Complete your profile account'}}"></i>
          </ng-container>
          <i class="mdi mdi-account white"></i>
          {{cuenta.nombre}}
        </a>

        <mat-menu #menuCuenta="matMenu" yPosition="below"> 
              <a mat-menu-item routerLink="/cuenta" (click)="drawer.close()">
                <i class="mdi mdi-account"></i>
                {{esp ? 'Cuenta' : 'My Account'}}
              </a>
              <a mat-menu-item routerLink="/changepass" (click)="drawer.close()">
                <i class="mdi mdi-lock-open"></i>
                {{esp ? 'Password' : 'Password'}}
              </a>
              <div class="dropdown-divider"></div>
              <a mat-menu-item routerLink="/logout" (click)="drawer.close()">
                <i class="mdi mdi-exit-to-app"></i>
                {{esp ? 'Salir' : 'Logout'}}
              </a>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="!cuenta">
        <a mat-list-item routerLink="/register" (click)="drawer.close()">{{esp ? 'Registrase' : 'Register'}}</a>
        <a mat-list-item routerLink="/login" (click)="drawer.close()">{{esp ? 'Ingreso' : 'Login'}}</a>
      </ng-container>

      <a mat-list-item (click)="changeLang()">
        <img *ngIf="esp" src="../../assets/uk.png" width="20" height="20">
        <img *ngIf="!esp" src="../../assets/spain.png" width="20" height="20">
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayoutAlign="space-between center">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="deviceXs">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div>
          <button mat-button routerLink="/inicio"      >
            <mat-icon>home</mat-icon>
            <span class="logo" href="index.html">
              {{esp ? 'Compras' : 'Purchases'}}
            </span>
          </button>
        </div>

        <div *ngIf="!deviceXs">
          <!-- <span class="spacer"></span> -->
          <ng-container *ngIf="cuenta">
            <button mat-button [matMenuTriggerFor]="menuLicita">{{esp ? 'Licitaciones' : 'Tenders'}}</button>
            <mat-menu #menuLicita="matMenu" yPosition="below">
              <button mat-menu-item routerLink="/activas">{{esp ? 'Activas' : 'Actives'}}</button>
              <ng-container *ngIf="cuenta.perfil<3">
                <button mat-menu-item routerLink="/licitaciones">{{esp ? 'Licitaciones' : 'Tenders'}}</button>
                <button mat-menu-item routerLink="/ofertas">{{esp ? 'Ofertas' : 'Offers'}}</button>
              </ng-container>
              <ng-container *ngIf="cuenta.perfil==4">
                <button mat-menu-item routerLink="/ofertas">{{esp ? 'Mis Ofertas' : 'My Offers'}}</button>
              </ng-container>
              <!-- <ng-container *ngIf="cuenta.perfil==0">
                <button mat-menu-item routerLink="/test">{{esp ? 'Test' : 'Test'}}</button>
              </ng-container> -->
            </mat-menu>
  
            <button mat-button [matMenuTriggerFor]="menuMuestras">{{esp ? 'Muestras' : 'Samples'}}</button>
            <mat-menu #menuMuestras="matMenu" yPosition="below"> 
              <ng-container *ngIf="cuenta.perfil!=4">
                <button mat-menu-item routerLink="/muestras">{{esp ? 'Muestras' : 'Samples'}}</button>
              </ng-container>
              <ng-container *ngIf="cuenta.perfil==4">
                <button mat-menu-item routerLink="/muestras">{{esp ? 'Mis Muestras' : 'My Samples'}}</button>
              </ng-container>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menuProductos">{{esp ? 'Productos' : 'Products'}}</button>
            <mat-menu #menuProductos="matMenu" yPosition="below"> 
              <button mat-menu-item routerLink="/productos">{{esp ? 'Productos' : 'Products'}}</button>
              <ng-container *ngIf="cuenta.perfil!=3">
                <button mat-menu-item routerLink="/seleccion">{{esp ? 'Seleccionar Productos' : 'Product Selection'}}</button>
                <button mat-menu-item routerLink="/myproducts">{{esp ? 'Mis Productos' : 'My Products'}}</button>
              </ng-container>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menuComunica">{{esp ? 'Mensajes' : 'Messages'}}</button>
            <mat-menu #menuComunica="matMenu" yPosition="below"> 
                <button mat-menu-item routerLink="/mensajes">{{esp ? 'Mis Mensajes' : 'My Messages'}}</button>
                <ng-container *ngIf="cuenta.perfil<=2">
                  <button mat-menu-item routerLink="/mailsToSuppliers">{{esp ? 'Mails a Proveedores' : 'Mails to Suppliers'}}</button>
                </ng-container>
            </mat-menu>

            <ng-container *ngIf="cuenta.perfil<=2">
              <button mat-button [matMenuTriggerFor]="menuAnexo">{{esp ? 'Anexo' : 'Other'}}</button>
              <mat-menu #menuAnexo="matMenu" yPosition="below"> 
                  <button mat-menu-item routerLink="/usuarios">{{esp ? 'Usuarios' : 'Users'}}</button>
                  <button mat-menu-item routerLink="/proveedores">{{esp ? 'Proveedores' : 'Suppliers'}}</button>
                  <button mat-menu-item routerLink="/scorings">{{esp ? 'Scoring' : 'Scoring'}}</button>
              </mat-menu>
            </ng-container>
          </ng-container>
        </div>

        <div>
          <ng-container *ngIf="cuenta && !deviceXs"> 
            <button mat-button [matMenuTriggerFor]="menuCuenta">
              <ng-container *ngIf="cuenta.perfil==5">
                <i class="mdi mdi-bell-alert yellow mdi-rotate-45" data-toggle="tooltip" data-placement="left" 
                title="{{esp ? 'Complete la Ficha de Proveedor' : 'Complete your profile account'}}"></i>
              </ng-container>
              <i class="mdi mdi-account white"></i>
              {{cuenta.nombre}}
            </button>
            <mat-menu #menuCuenta="matMenu" yPosition="below"> 
                  <button mat-menu-item routerLink="/cuenta">
                    <i class="mdi mdi-account"></i>
                    {{esp ? 'Cuenta' : 'My Account'}}
                  </button>
                  <button mat-menu-item routerLink="/changepass">
                    <i class="mdi mdi-lock-open"></i>
                    {{esp ? 'Password' : 'Password'}}
                  </button>
                  <div class="dropdown-divider"></div>
                  <button mat-menu-item routerLink="/logout">
                    <i class="mdi mdi-exit-to-app"></i>
                    {{esp ? 'Salir' : 'Logout'}}
                  </button>
              </mat-menu>
          </ng-container>

          <ng-container *ngIf="!cuenta && !deviceXs">
            <button mat-button routerLink="/register" routerLinkActive="active">{{esp ? 'Registrase' : 'Register'}}</button>
            <button mat-button routerLink="/login" routerLinkActive="active">{{esp ? 'Ingreso' : 'Login'}}</button>
          </ng-container>

          <button mat-button routerLinkActive="active" (click)="changeLang()">
            <img *ngIf="esp" src="../../assets/uk.png" width="20" height="20">
            <img *ngIf="!esp" src="../../assets/spain.png" width="20" height="20">
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>