.jumbotron {
    background-color: white;
    color: black;
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
}

.descrip {
    background-color: lemonchiffon;
    padding: .5rem;
}

.offer-th {
    background-color: lightcyan;
}

.badge {
    font-size: 100%;
    color: black;
}

.modal-dialog.modal-800 {
  max-width: 600px;
  margin: 1.75rem auto;
}

.modal {
    display:inherit;
    /* width: 125%; */
}

/* .mmodal-content {
    width: 900px;
    margin: auto;
} */

/* @media (min-width: 768px) {
    .modal-dialog {
      width: 600;
      margin: 30px auto;
    }
    .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
              box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
      width: 300px;
    }
  } */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mat-cell, mat-header-cell {
  padding: 5px 5px;
  text-align: center;
}

.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
}

.table thead th {
  vertical-align: top; 
}

.acciones {
  white-space: nowrap;
}
