.jumbotron {
    background-color: white;
    color: black;
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
}

.descrip {
    background-color: lemonchiffon;
    padding: .5rem;
}

.offer-th {
    background-color: lightcyan;
}

