<!-- Flexbox container for aligning the toasts -->
<div class="jumbotron"> 
    <section class="conteiner">
        <div class="d-flex justify-content-center ">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h5>{{esp ? 'Cuenta' : 'My Account'}}</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="f">
                        <div class="form-group mb-0">
                            <div class="form-group row">
                                <label for="usuario" class="col-sm-2 col-form-label">{{esp ? 'Usuario' : 'User'}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="usuario" id="usuario" placeholder="" required="required"/>
                                    <!-- Error -->
                                    <div *ngIf="f.controls.usuario.errors && f.controls.usuario.dirty" class="alert alert-danger mt-0">
                                        <div *ngIf="f.controls.usuario.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                                        <div *ngIf="f.controls.usuario.errors.pattern">{{esp ? 'Mayusculas sin espacios (Max=10)' : 'Uppercase characters without spaces (Max=10)'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="nombre" class="col-sm-2 col-form-label">{{esp ? 'Nombre' : 'Name'}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="" required="required"/>
                                    <!-- Error -->
                                    <div *ngIf="f.controls.nombre.errors && f.controls.nombre.dirty" class="alert alert-danger mt-0">
                                        <div *ngIf="f.controls.nombre.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                                        <div *ngIf="f.controls.nombre.errors.pattern">{{esp ? 'Max 30 caracteres' : 'Max 30 characters'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contacto" class="col-sm-2 col-form-label">{{esp ? 'Contacto' : 'Contact'}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="contacto" id="contacto" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="" required="required"/>
                                    <!-- Error -->
                                    <div *ngIf="f.controls.email.errors && f.controls.email.dirty" class="alert alert-danger mt-0">
                                        <div *ngIf="f.controls.email.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                                        <div *ngIf="f.controls.email.errors.pattern">{{esp ? 'Ingrese una direccion de mail valida' : 'Enter a valid email address'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contacto2" class="col-sm-2 col-form-label">{{esp ? 'Contacto 2' : 'Contact 2'}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="contacto2" id="contacto2" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email2" class="col-sm-2 col-form-label">Email 2</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" formControlName="email2" id="email2" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contacto3" class="col-sm-2 col-form-label">{{esp ? 'Contacto 3' : 'Contact 3'}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="contacto3" id="contacto3" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email3" class="col-sm-2 col-form-label">Email 3</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" formControlName="email3" id="email3" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contacto4" class="col-sm-2 col-form-label">{{esp ? 'Contacto 4' : 'Contact 4'}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="contacto4" id="contacto4" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email4" class="col-sm-2 col-form-label">Email 4</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" formControlName="email4" id="email4" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                
                                <label for="language" class="col-sm-2 col-form-label">{{esp ? 'Idioma' : 'Language'}}</label>
                                <div class="col-sm-10">
                                    <!-- <input type="text" class="form-control" formControlName="language" id="language" required="required"/> -->
                                    <select class="custom-select" formControlName="language" id="language" required="required">
                                        <option selected>{{esp ? 'Elija...' : 'Choose...'}}</option>
                                        <option value="es">{{esp ? 'Español' : 'Spanish'}}</option>
                                        <option value="en">{{esp ? 'Ingles' : 'English'}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <label for="activo" class="col-sm-2 col-form-label">{{esp ? 'Activo' : 'Active'}}</label>
                                <div class="ml-2 mt-1">
                                    <input type="checkbox" class="my_checkbox" formControlName="activo" id="activo" required="required"/>
                                </div>
                            </div> -->

                            <!-- <div class="d-flex justify-content-between"> -->
                            <ngb-alert *ngIf="siGrabo" type="success" (close)="siGrabo=false">{{msgGrabo}}</ngb-alert>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-primary mr-2" [disabled]="!f.valid" (click)="onSubmit()">{{esp ? 'Aceptar' : 'Save'}}</button>
                                <button type="button" class="btn btn-secondary" (click)="onCancel()">{{esp ? 'Cancelar' : 'Cancel'}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </section> 
</div>

