.jumbotron {
    background-color: white;
    color: black;

}

hr {
    background-color: gray;
}

mat-card {
    width: 20rem;
}

mat-form-field {
    width: 100%;
}

/* .my_checkbox {
    width:5vw;
    height:5vh;
} */