<div class="jumbotron">
    <!-- <h2>Login</h2>
    <hr> -->

    <section class="conteiner">
        <div class="d-flex justify-content-center ">
            <mat-card>
                <mat-card-title>{{esp ? 'Registro' : 'Register'}}</mat-card-title>
                <mat-card-content>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <form [formGroup]="f">
                        <mat-form-field>
                        <mat-label>{{esp ? 'Empresa (Identificaci&oacute;n &uacute;nica para Proagro)' : 'Brand (Unique Id for Proagro)'}}</mat-label>
                            <input matInput type="text" formControlName="usuario" id="usuario">
                            <!-- Error -->
                            <div *ngIf="f.controls.usuario.errors && f.controls.usuario.dirty">
                                <mat-error *ngIf="f.controls.usuario.errors.required">
                                    {{esp ? 'Requerido' : 'Required'}}
                                </mat-error>
                                <mat-error *ngIf="f.controls.usuario.errors.pattern">
                                    {{esp ? 'May&uacute;sculas sin espacios (Max=10)' : 'Uppercase characters without spaces (Max=10)'}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{esp ? 'Nombre' : 'Name'}}</mat-label>
                            <input matInput type="text" formControlName="nombre" id="nombre">
                            <!-- Error -->
                            <div *ngIf="f.controls.nombre.errors && f.controls.nombre.dirty">
                                <mat-error *ngIf="f.controls.nombre.errors.required">
                                    {{esp ? 'Requerido' : 'Required'}}
                                </mat-error>
                                <mat-error *ngIf="f.controls.nombre.errors.pattern">
                                    {{esp ? 'M&aacute;ximo 30 caracteres' : 'Max 30 characters'}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email" id="email">
                            <!-- Error -->
                            <div *ngIf="f.controls.email.errors && f.controls.email.dirty">
                                <mat-error *ngIf="f.controls.email.errors.required">
                                    {{esp ? 'Requerido' : 'Required'}}
                                </mat-error>
                                <mat-error *ngIf="f.controls.email.errors.pattern">
                                    {{esp ? 'Ingrese una direcci&oacute;n email válida' : 'Enter a valid email address'}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="pass" id="pass">
                            <!-- Error -->
                            <div *ngIf="f.controls.pass.errors && f.controls.pass.dirty">
                                <mat-error *ngIf="f.controls.pass.errors.required">
                                    {{esp ? 'Requerido' : 'Required'}}
                                </mat-error>
                                <mat-error *ngIf="f.controls.pass.errors.pattern">
                                    {{esp ? 'Debe contener d&iacute;gitos, min&uacute;sculas y may&uacute;sculas (Min=6 / Max=20)' : 'Must contains digits, lower an uppercase (Min=6 / Max=20)'}}
                                </mat-error>
                            </div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{esp ? 'Confirmar' : 'Confirm'}} Password</mat-label>
                            <input matInput type="password" formControlName="confpass" id="confpass">
                            <!-- Error -->
                            <div *ngIf="f.controls.confpass.errors && f.controls.confpass.dirty">
                                <mat-error *ngIf="f.controls.confpass.errors.required">
                                    {{esp ? 'Requerido' : 'Required'}}
                                </mat-error>
                                <mat-error *ngIf="f.controls.confpass.errors.pattern">
                                    {{esp ? 'Debe contener d&iacute;gitos, min&uacute;sculas, may&uacute;sculas (Min=6 / Max=20)' : 'Must contains digits, lower an uppercase (Min=6 / Max=20)'}}
                                </mat-error>
                                <mat-error *ngIf="f.controls.confpass.errors.mustMatch">
                                    {{esp ? 'Las passwords deben coincidir' : 'Passwords must match'}}
                                </mat-error>
                            </div>
                        </mat-form-field>

                        <div class="form-group row mt-1 mb-0">
                            <div class="col-sm-12">
                                <button mat-raised-button class="register" [disabled]="!f.valid" (click)="register()">{{esp ? 'Registrese' : 'Sing up'}}</button>
                            </div>
                        </div>

                        <div class="form-group row mt-2 mb-0">
                            <div class="col-sm-12 login">
                                {{esp ? 'Ya tiene una cuenta?' : 'Already have an account?'}}
                                <a mat-button color="primary" routerLink="/login">
                                    <strong>{{esp ? 'Iniciar sesi&oacute;n' : 'Sing in'}}</strong>
                                </a>
                            </div>
                        </div>

                        <ngb-alert class="mt-2" [type]="alertType" *ngIf="siAlert" (close)="!siAlert">{{msgAlert}}
                        </ngb-alert>
                            <!-- <ngb-alert *ngIf="siError" type="danger" (close)="siError=false">{{msgError}}</ngb-alert> -->

                        <div *ngIf="siRegistro" class="form-group row mt-4 m-1">
                            <ngb-alert *ngIf="esp" type="warning" close="!siRegistro">
                                <p><strong>Atenci&oacute;n!!!</strong> - Un email fue enviado a su Correo para activar la cuenta de su usuario.</p>
                                <p>Verifique la casilla de Spam en caso de que no lo encuentre.</p>
                            </ngb-alert>
                            <ngb-alert *ngIf="!esp" type="warning" close="!siRegistro">
                                <p><strong>Atention!!!</strong> - An email was sent to your Mailbox to activate the user account.</p>
                                <p>Verify the Spam folder in case you don't find it.</p>
                            </ngb-alert>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </section>
</div>