.jumbotron {
    background-color: white;
    color: black;

}

hr {
    background-color: gray;
}

mat-card {
    width: 20rem;
}

mat-form-field {
    width: 100%;
}

/* .my_checkbox {
    width:5vw;
    height:5vh;
} */

.register.mat-button, .mat-raised-button{
    background-color:orange;
    color: white;
    width: inherit;
} 

.login {
    /* color: #007bff; */
    text-align: center;
}

