.jumbotron {
  background-color: white;
  color: black;
  padding-top: 0px;
  padding-bottom:0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.sidenav-container {
  width: 100%;
  margin-top: 15px;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px blue;
}


.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  padding: 0px 0px;
  font-size: 25px;
}

/* .hidden {
  display: none;
} */

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.mat-button {
  font-size: 20px;
  vertical-align: middle;
}

button:focus { 
  outline: 0px; 
}

/* @media (min-width: 600px) {
  .sidenav {
    display: none;
  }

  /* .mat-icon {
    display: none;
  } 
} */