.jumbotron {
    background-color: white;
    color: black;
    padding-top: 20px;
}

hr {
    background-color:#333;
}

/* tr:nth-of-type(odd) {
    background-color: lightcyan;
} */

.my_checkbox {
    width:5vw;
    height:5vh;
}