.jumbotron {
    background-color: white;
    color: black;
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
}

hr {
    background-color:#333;
}

.mat-cell {
    padding: 5px 5px;
    text-align: center;
    line-break: anywhere;
    min-width: 100px;
}