.jumbotron {
    background-color: white;
    color: black;
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
}

hr {
    background-color:#333;
}

.my_checkbox {
    width:5vw;
    height:5vh;
}

.badge {
    font-size: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.descrip {
    background-color: lemonchiffon;
    padding: .5rem;
}

