<div class="jumbotron">
    <ng-container *ngIf="cuenta">
        <div class="flex-container">
            <h3 class="mt-2" *ngIf="cuenta.perfil < 4">{{esp ? 'Cotizaciones' : 'Quoted'}}</h3>
            <h3 class="mt-2" *ngIf="cuenta.perfil >= 4">{{esp ? 'Mis Cotizaciones' : 'My Quoted'}}</h3>
            <a class="btn btn-link mt-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                {{esp ? 'Ver m&aacute;s' : 'See more'}}
            </a>
        </div>
        <div id="accordion">
          <div class="card border border-white">
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body descrip mb-2">
                {{esp ? 'Verifique el estado de sus Cotizaciones y modif&iacute;quelas para mejorar su ranking.
                Complete la Ficha del proveedor para icrementar el % de Desempe&ntilde;o.' : 'Check the status of your
                Quotations and modify them in order to improve their ranking. Complete the Supplier Card to increase the 
                % of your Performance.'}}
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row flex-wrap">
            <div class="mr-auto pr-2 flex-grow-1" *ngFor="let filter of filterSelectObj">
                <mat-form-field *ngIf="esp">
                    <mat-label>Filtro {{filter.name}}</mat-label>
                    <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                        (change)="filterChange(filter,$event)">
                        <option value="">-- Seleccione {{filter.name}} --</option>
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                    </select>
                </mat-form-field>
                <mat-form-field *ngIf="!esp">
                    <mat-label>Filter {{filter.nameeng}}</mat-label>
                    <select matNativeControl name="{{filter.columnPropEng}}" [(ngModel)]="filter.modelValue"
                        (change)="filterChange(filter,$event)">
                        <option value="">-- Select {{filter.nameeng}} --</option>
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                    </select>
                </mat-form-field>
            </div>

            <div class="container-btn-new">
                <button id="filterbutton" mat-raised-button color="warn" (click)="resetFilters()">
                    <mat-icon>search_off</mat-icon>&nbsp; Reset
                </button>
            </div>
            &nbsp;

            <ng-container *ngIf="cuenta.perfil==0">
                <div class="container-btn-new">
                    <button id="newbutton" mat-raised-button color="primary"
                        (click)="openModal(editOfferModal, offer, 'A')">
                        <mat-icon>note_add</mat-icon>&nbsp; {{esp ? 'Nueva Oferta' : 'New Offer'}}
                    </button>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <div class="mat-elevation-z8 table-responsive">
        <table mat-table [dataSource]='dataSource' matSort aria-label="Elements">
            <!-- <ng-container matColumnDef="oferta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Oferta' : 'Offer'}}</th>
                <td mat-cell *matCellDef="let row">{{row.oferta}}</td>
            </ng-container>
 -->
            <ng-container matColumnDef="licitacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Solicitud' : 'Order'}}</th>
                <td mat-cell *matCellDef="let row">{{row.licitacion}}</td>
            </ng-container>

            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Empresa' : 'Brand'}}</th>
                <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
            </ng-container>

            <ng-container matColumnDef="descrip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Insumo' : 'Supplie'}}</th>
                <td mat-cell *matCellDef="let row">{{row.descrip}}</td>
            </ng-container>

            <ng-container matColumnDef="detalle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Detalle' : 'Detail'}}</th>
                <td mat-cell *matCellDef="let row">
                  <button class="m-0 mr-1" mat-raised-button color="primary" data-toggle="tooltip" title="Details" 
                    (click)="openModal(editTenderDetalle, row, 'D')">
                    <mat-icon>description</mat-icon>&nbsp; {{esp ? 'Ver' : 'See'}}
                  </button>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Cantidad' : 'Quantity'}}</th>
                <td mat-cell *matCellDef="let row">{{row.cantidad}} {{row.unidad}}</td>
            </ng-container>

            <ng-container *ngIf="cuenta">
                <ng-container *ngIf="cuenta.perfil==0 || cuenta.perfil==2" matColumnDef="sugerida">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Sugerida' : 'Suggested'}}</th>
                    <td mat-cell *matCellDef="let row">{{traerSugerida(row.licitacion)}} {{row.unidad}}</td>
                </ng-container>
            </ng-container>
        
            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Precio U$S' : 'Price U$S'}}
                </th>
                <td mat-cell *matCellDef="let row">{{row.precio}}</td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Total U$S' : 'Total U$S'}}</th>
                <td mat-cell *matCellDef="let row">{{calcTotal(row.precio,row.precioPesos,row.cantidad)}}</td>
            </ng-container>

            <!-- <ng-container matColumnDef="incoterm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Incot.' : 'Incot.'}}</th>
                <td mat-cell *matCellDef="let row">{{row.incoterm}}</td>
            </ng-container> -->

            <ng-container matColumnDef="entrega">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Entrega D&iacute;as' : 'Delivery Days'}}</th>
                <td mat-cell *matCellDef="let row">{{row.entrega}}</td>
            </ng-container>

            <ng-container matColumnDef="financiacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Pago D&iacute;as' : 'Payment Days'}}</th>
                <td mat-cell *matCellDef="let row">{{row.financiacion}}</td>
            </ng-container>

            <ng-container *ngIf="cuenta">
                <ng-container *ngIf="cuenta.perfil < 4" matColumnDef="desempeno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Desemp.' : 'Perfor.'}}</th>
                    <td mat-cell *matCellDef="let row">{{row.desempeno}}</td>
                </ng-container>
            </ng-container>

            <ng-container matColumnDef="scoring">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Score' : 'Score'}}</th>
                <td mat-cell *matCellDef="let row">{{row.scoring}}
                </td>
            </ng-container>

            <ng-container matColumnDef="scoreRanking">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Ranking' : 'Ranking'}}</th>
                <td mat-cell *matCellDef="let row">
                    <!-- <span class="badge badge-primary badge-pill" 
                        [style.background-color]="row.scoreRanking === 1 ? 'yellow' : 'white'"
                        [style.font-weight]="row.scoreRanking === 1 ? 700 : 400"
                        style="color:'black'">
                        {{row.scoreRanking}}
                    </span> -->
                    <button class="m-0 ml-0.5" mat-raised-button color="primary" data-toggle="tooltip" title="Ranking"
                        (click)="openModal(editTenderCotizaciones, row, 'D')">
                        <span class="badge badge-pill" [ngStyle]="{'background-color': (row.scoreRanking === 1) ? 'yellow' : 'white'}">{{row.scoreRanking}}</span> &nbsp; {{esp ? 'Ver' : 'See'}}
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="dueDays">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Finaliza D&iacute;as' : 'Due Days'}}</th>
                <td mat-cell *matCellDef="let row">{{calcDueDays(row.licitacion)}}</td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{esp ? 'Estado' : 'State'}}</th>
                <td mat-cell *matCellDef="let row">
                    {{esp ? estadosOfertas[row.estado].estadoesp : estadosOfertas[row.estado].estadoeng}}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <!-- <th mat-header-cell *matHeaderCellDef>{{esp ? 'Acciones' : 'Actions'}}</th> -->
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" class="acciones">
                    <ng-container *ngIf="cuenta">
                        <ng-container *ngIf="cuenta.perfil==0 || ((cuenta.perfil==2 || cuenta.perfil>=4) && row.estado==0)">
                            <button mat-icon-button color="primary" data-toggle="tooltip" title="Update"
                                (click)="openModal(editOfferModal, row, 'M')">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="cuenta.perfil==0 || (cuenta.perfil>=4 && row.estado==0)">
                            <button mat-icon-button color="primary" data-toggle="tooltip" title="Delete"
                                (click)="openModal(editOfferModal, row, 'B')">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </ng-container>
                    </ng-container>
                    <!-- <button mat-icon-button color="primary" data-toggle="tooltip" title="Details"
                        (click)="openModal(editOfferModal, row, 'D')">
                        <mat-icon>description</mat-icon>
                    </button> -->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator class="mat-elevation-z8 mb-3" #paginator [length]="dataSource.data?.length" [pageIndex]="0"
        [pageSize]="25" [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>

    <ng-container *ngIf="notDone">
        <div class="d-flex justify-content-center">
            <div class="spinner-border m-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>

    <ng-template #editOfferModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" *ngIf="this.strTipo == 'A'">{{esp ? 'Cotizar' : 'Quote'}}</h5>
            <h5 class="modal-title" *ngIf="this.strTipo == 'B'">{{esp ? 'Borrar' : 'Delete'}}</h5>
            <h5 class="modal-title" *ngIf="this.strTipo == 'M'">{{esp ? 'Modificar' : 'Update'}}</h5>
            <button type="button" class="close" (click)="onDismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <form [formGroup]="f" (ngSubmit)="onSubmit()">
                <!-- Solo para el Administrador -->
                <ng-container *ngIf="cuenta.perfil==0">
                    <div class="form-group row">
                        <label for="oferta" class="col-sm-3 col-form-label">{{esp ? 'Oferta' : 'Offer'}}</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" formControlName="oferta" id="oferta"
                                [readOnly]="true">
                            <!-- Error -->
                            <div *ngIf="f.controls.oferta.errors && f.controls.oferta.dirty"
                                class="alert alert-danger mt-0">
                                <div *ngIf="f.controls.oferta.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div class="form-group row">
                    <label for="licitacion" class="col-sm-3 col-form-label">{{esp ? 'Solicitud' : 'Request'}}</label>
                    <div class="col-sm-9">
                        <!-- <input type="number" class="form-control" formControlName="licitacion" id="licitacion" [readOnly]="this.strTipo == 'B'"> -->
                        <select class="custom-select" formControlName="licitacion" id="licitacion" required="required"
                            (change)="changeTender($event)">
                            <option [value]="null">{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                            <option [value]="tender.licitacion" *ngFor="let tender of tenders">{{tender.licitacion}}
                                {{tender.descrip}} {{tender.cantidad}} {{tender.unidad}}</option>
                        </select>
                        <!-- Error -->
                        <div *ngIf="f.controls.licitacion.errors && f.controls.licitacion.dirty"
                            class="alert alert-danger mt-0">
                            <div *ngIf="f.controls.licitacion.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                        </div>
                    </div>
                </div>

                <!-- Solo para el Administrador -->
                <ng-container *ngIf="cuenta.perfil==0">
                    <div class="form-group row">
                        <label for="usuario" class="col-sm-3 col-form-label">{{esp ? 'Empresa' : 'Brand'}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="usuario" id="usuario"
                                [readOnly]="true">
                            <!-- Error -->
                            <!-- <div *ngIf="f.controls.usuario.errors && f.controls.usuario.dirty" class="alert alert-danger mt-0">
                        <div *ngIf="f.controls.usuario.errors.required">Required</div>
                        </div> -->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">{{esp ? 'Email' : 'Email'}}</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" formControlName="email" id="email"
                                [readOnly]="true">
                            <!-- Error -->
                            <!-- <div *ngIf="f.controls.email.errors && f.controls.email.dirty" class="alert alert-danger mt-0">
                        <div *ngIf="f.controls.usuario.errors.required">Required</div>
                        </div> -->
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                    <label for="proveedor" class="col-sm-3 col-form-label">{{esp ? 'Proveedor' : 'Supplier'}}</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" formControlName="proveedor" id="proveedor" [readOnly]="this.strTipo == 'B'">
                        <!-- Error -->
                    <!-- <div *ngIf="f.controls.proveedor.errors && f.controls.proveedor.dirty" class="alert alert-danger mt-0">
                            <div *ngIf="f.controls.proveedor.errors.required">Required</div>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label for="provenom" class="col-sm-3 col-form-label">{{esp ? 'Nombre' : 'Name'}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="provenom" id="provenom"
                                [readOnly]="true">
                            <!-- Error -->
                            <!-- <div *ngIf="f.controls.provenom.errors && f.controls.provenom.dirty" class="alert alert-danger mt-0">
                                <div *ngIf="f.controls.provenom.errors.required">Required</div>
                            </div> -->
                        </div>
                    </div>
                </ng-container>

                <!-- <div class="form-group row">
                    <label for="fecha" class="col-sm-3 col-form-label">{{esp ? 'Inicio' : 'Start'}}</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" formControlName="fecha" id="fecha"
                            [readOnly]="this.strTipo == 'B'">
                        <!-- Error -->
                <!-- <div *ngIf="f.controls.fecha.errors && f.controls.fecha.dirty" class="alert alert-danger mt-0">
                            <div *ngIf="f.controls.fecha.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="form-group row">
                    <label for="finaliza" class="col-sm-3 col-form-label">{{esp ? 'Fin' : 'End'}}</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" formControlName="finaliza" id="finaliza"
                            [readOnly]="this.strTipo == 'B'"> -->
                <!-- Error -->
                <!-- <div *ngIf="f.controls.finaliza.errors && f.controls.finaliza.dirty"
                            class="alert alert-danger mt-0">
                            <div *ngIf="f.controls.finaliza.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                        </div>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label for="producto" class="col-sm-3 col-form-label">{{esp ? 'Producto' : 'Product'}}</label>
                    <div class="col-sm-9">
                        <!-- <input type="number" class="form-control" formControlName="producto" id="producto"
                            [readOnly]="true"> -->
                        <select class="custom-select" formControlName="producto" id="producto" required="required">
                            <option [value]="product.codigo" *ngFor="let product of products">{{product.codigo}}
                                {{product.descrip}}</option>
                        </select>
                        <!-- Error -->
                        <div *ngIf="f.controls.producto.errors && f.controls.producto.dirty"
                            class="alert alert-danger mt-0">
                            <div *ngIf="f.controls.producto.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <a class="btn btn-link upfiles" data-toggle="collapse" data-target="#caracteris" aria-expanded="false" aria-controls="caracteris">
                        {{esp ? 'Caracter&iacute;sticas del Producto' : 'Product Caracteristics'}}
                    </a>
                    <div id="accordion2">
                        <div class="card border mb-0 pb-0 border-white">
                            <div id="caracteris" class="collapse" aria-labelledby="headingOne" data-parent="#accordion2">
                                <div class="caracteris pt-1">{{esp ? 'Producto: ' + producto.descrip : 'Product: ' + producto.detaeng}}</div>
                                <div class="caracteris">{{esp ? 'Rubro: ' + producto.rubro : 'Category: ' + producto.rubroeng}}</div>
                                <div class="caracteris">{{esp ? 'SubRubro: ' + producto.subrubro : 'SubCategory: ' + producto.subrubeng}}</div>
                                <p class="card-body caracteris" 
                                    [innerHTML]="esp ? producto.caracteris : producto.caracteriseng">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <label for="descrip" class="col-sm-3 col-form-label">{{esp ? 'Descrip' : 'Descrip'}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="descrip" id="descrip"
                            [readOnly]="true">
                        <!-- Error -->
                        <!-- <div *ngIf="f.controls.descrip.errors && f.controls.descrip.dirty"
                            class="alert alert-danger mt-0">
                            <div *ngIf="f.controls.descrip.errors.required">Required</div>
                        </div>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label for="cantidad" class="col-sm-3 col-form-label">{{esp ? 'Cantidad' : 'Quantity'}}</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" formControlName="cantidad" id="cantidad"
                            [readOnly]="this.strTipo == 'B'">
                        <!-- Error -->
                        <div *ngIf="f.controls.cantidad.errors && f.controls.cantidad.dirty"
                            class="alert alert-danger mt-0">
                            <div *ngIf="f.controls.cantidad.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                            <!-- <div *ngIf="f.controls.cantidad.errors.Menor">{{esp ? 'Menor a lo requerido' : 'Less than required'}}</div> -->
                        </div>
                    </div>
                    <ng-container *ngIf="cuenta">
                        <ng-container *ngIf="cuenta.perfil==0 || cuenta.perfil==2">
                            <label for="sugerida" class="col-sm-2 col-form-label pl-0 pr-0">{{esp ? 'Sugerida' : 'Suggested'}}</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" formControlName="sugerida" id="sugerida" readOnly>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="form-group row">
                    <label for="unidad" class="col-sm-3 col-form-label">{{esp ? 'Unidad' : 'Unity'}}</label>
                    <div class="col-sm-9">
                        <!-- <input type="text" class="form-control" formControlName="unidad" id="unidad"
                            [readOnly]="this.strTipo == 'B'"> -->
                        <select class="custom-select" formControlName="unidad" id="unidad" required="required"
                            [readOnly]="true">
                            <!-- <option ng-value disabled>{{esp ? 'Elija una opcion...' : 'Choose...'}}</option> -->
                            <option [value]="unidad.value" *ngFor="let unidad of unidades">{{unidad.value}}</option>
                        </select>
                        <!-- Error -->
                        <div *ngIf="f.controls.unidad.errors && f.controls.unidad.dirty"
                            class="alert alert-danger mt-0">
                            <div *ngIf="f.controls.unidad.errors.required">{{esp ? 'Requerido' : 'Required'}}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="precioPesos" class="col-sm-3 col-form-label">{{esp ? 'Precio' : 'Price'}} $</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" formControlName="precioPesos" id="precioPesos"
                            [readOnly]="this.strTipo == 'B'">
                    </div>
                    <label for="cotizacion" class="col-sm-2 col-form-label pl-0 pr-0">{{esp ? 'Cotiz. U$S' : 'Cotiz. U$S'}}</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" formControlName="cotizacion" id="cotizacion" readOnly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="precio" class="col-sm-3 col-form-label">{{esp ? 'Precio' : 'Price'}} U$S</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" formControlName="precio" id="precio"
                            [readOnly]="this.strTipo == 'B'">
                    </div>
                    <label for="costo" class="col-sm-2 col-form-label pl-0 pr-0">{{esp ? 'Precio Hist.' : 'Hist. Price'}}</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" formControlName="costo" id="costo" readOnly>
                        <!-- Error -->
                    </div>
                </div>

                <div class="form-group row">
                    <label for="total" class="col-sm-3 col-form-label">{{esp ? 'Total' : 'Total'}}</label>
                    <div class="col-sm-4">
                        <label class="pt-2">U$S {{calcTotal(f.controls.precio.value,f.controls.precioPesos.value,f.controls.cantidad.value)}}</label>
                        <!-- <input type="number" class="form-control" formControlName="total" id="total" readOnly>
                        <div class="col-sm-6">
                        </div> -->
                    </div>
                    <label for="sinIva" class="col-sm-5 col-form-label pl-0">{{esp ? '(Sin IVA)' : '(Without IVA)'}}</label>
                </div>

                <div class="form-group row">
                    <label for="financiacion" class="col-sm-3 col-form-label"> {{esp ? 'Condici&iacute;n de Pago' : 'Pay Terms'}}</label>
                    <div class="col-sm-4">
                        <select class="custom-select" formControlName="financiacion" id="financiacion"
                            required="required">
                            <option [ngValue]="null">{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                            <option [ngValue]="item.value" *ngFor="let item of financiaciones">{{item.value}}</option>
                        </select>
                    </div>
                    <label for="dias" class="col-sm-5 col-form-label pl-0 pr-0">{{esp ? 'D&iacute;as' : 'Days'}}</label>
                </div>

                <div *ngIf="!nacional" class="form-group row">
                    <label for="incoterm" class="col-sm-3 col-form-label">{{esp ? 'INCOTERM' : 'INCOTERM'}}</label>
                    <div class="col-sm-9">
                        <select class="custom-select" formControlName="incoterm" id="incoterm" required="required">
                            <option [ngValue]="null">{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                            <option [ngValue]="item.value" *ngFor="let item of incoterms">{{item.value}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="entrega" class="col-sm-3 col-form-label">{{esp ? 'Entrega' : 'Delivery'}}</label>
                    <div class="col-sm-4">
                        <select class="custom-select" formControlName="entrega" id="entrega" required="required">
                            <option [ngValue]="null">{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                            <option [ngValue]="item.value" *ngFor="let item of diasEntrega">{{item.value}}</option>
                        </select>
                    </div>
                    <label for="dias" class="col-sm-5 col-form-label pl-0 pr-0">{{esp ? 'D&iacute;as listo para Trasporte' : 'Days ready to Ship'}}</label>
                </div>

                <div *ngIf="nacional" class="form-group row">
                    <label for="lugarEntrega" class="col-sm-3 col-form-label">{{esp ? 'Lugar Entrega' : 'Delivery Place'}}</label>
                    <div class="col-sm-9">
                        <select class="custom-select" formControlName="lugarEntrega" id="lugarEntrega" required="required">
                            <option [ngValue]="null">{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                            <option [ngValue]="item.value" *ngFor="let item of lugaresEntrega">{{item.value}}</option>
                        </select>
                    </div>
                </div>

                <!-- docOffer -->
                <div class="d-flex flex-nowrap">
                    <div class="p-0 m-0 col-3">
                        <label for="docOffer" class="btn btn-warning btn-xs mb-0">{{esp ? 'Adjuntar Documento' : 'Attach Documents'}}</label>
                        <input id="docOffer" style="visibility:hidden;" type="file"
                            accept="application/pdf,application/vnd.ms-excel" (change)="onFileSelected($event, 'docOffer')"
                            [disabled]="this.strTipo=='B' || cuenta.perfil==2">
                    </div>

                    <div class="mt-0 mb-0 pt-0 col-9">
                        <table class="table table-responsive">
                            <tr *ngFor="let file of getFile('docOffer');index as i">
                            <td class="upfiles" (click)="onPreviewFile(file)">{{file.originalName}}</td>
                            <td>
                                <mat-icon class="pt-0 ml-2 filesicon" color="warn" (click)="onDeleteFile(file, 'docOffer')">delete
                                </mat-icon>
                            </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <ng-container *ngIf="docOfferDone">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border m-2" role="status">
                            <span class="sr-only">Adding...</span>
                        </div>
                    </div>
                </ng-container>
                <!-- docOffer -->

                <div class="form-group row">
                    <label for="detalle" class="col-sm-3 col-form-label">{{esp ? 'Comentario' : 'Comment'}}</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" formControlName="detalle" id="detalle" [readOnly]="this.strTipo == 'B'" rows="5"></textarea>
                    </div>
                </div>

                <!-- Solo para el Administrador y Compras -->
                <ng-container *ngIf="cuenta.perfil==0 || cuenta.perfil==2">
                    <div *ngIf="this.strTipo !== 'B' && this.strTipo !== 'P'" class="form-group row">
                        <label for="estado" class="col-sm-3 col-form-label">{{esp ? 'Estado' : 'State'}}</label>
                        <div class="col-sm-9">
                            <select class="custom-select" formControlName="estado" id="estado" required="required">
                                <option [value]="null">{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                                <option [value]="estado.estado" *ngFor="let estado of estadosOfertas">
                                    {{esp ? estado.estadoesp : estado.estadoeng}}</option>
                            </select>
                        </div>
                    </div>
                </ng-container>

                <!-- Solo para el Estado = 1 Aprobada -->
                <ng-container *ngIf="f.controls.estado.value==1">
                    <div *ngIf="this.strTipo !== 'B' && this.strTipo !== 'P'" class="form-group row">
                        <label for="observacion" class="col-sm-3 col-form-label">{{esp ? 'Observaci&oacute;n' : 'Notes'}}</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" formControlName="observacion" id="observacion" [readOnly]="this.strTipo == 'B'" rows="5"></textarea>
                        </div>
                    </div>
                </ng-container>

                <div class="modal-footer">
                    <div *ngIf="this.strTipo === 'B'">
                        <button type="submit" class="btn btn-primary">{{esp ? 'Borrar' : 'Delete'}}</button>
                    </div>
                    <div *ngIf="this.strTipo === 'M' && f.controls.estado.value==1">
                        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{esp ? 'Aceptar' :
                            'Acept'}}</button>
                    </div>
                    <div *ngIf="(this.strTipo === 'M' || this.strTipo === 'A') && f.controls.estado.value!=1">
                        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{esp ? 'Guardar' :
                            'Save'}}</button>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="onDismiss()">{{esp ? 'Cancelar' :
                        'Cancel'}}</button>
                </div>

                <!-- <hr>
                    <pre>{{f.controls.pass.errors | json}}</pre>
                    <hr>
                <hr>
                    <pre>{{f.control.errors | json}}</pre>
                <hr> -->

            </form>
        </div>

    </ng-template>

    <ng-template #editTenderDetalle let-modal>
        <div class="modal-header">
          <h5 class="modal-title">{{esp ? 'CARACTERISTICAS DEL INSUMO SOLICITADO' : 'SUPPLIES REQUEST CHARACTERISTIC'}}</h5>
          <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <div class="modal-body p-0">
          <form [formGroup]="f" (ngSubmit)="onSubmit()">
            <div class="descrip">{{esp ? 'Producto: ' + producto.descrip : 'Product: ' + producto.detaeng}}</div>
            <div class="descrip">{{esp ? 'Rubro: ' + producto.rubro : 'Category: ' + producto.rubroeng}}</div>
            <div class="descrip">{{esp ? 'SubRubro: ' + producto.subrubro : 'SubCategory: ' + producto.subrubeng}}</div>
            <p class="descrip p-2" [innerHTML]="esp ? producto.caracteris : producto.caracteriseng"></p>
          </form>
        </div>
    </ng-template>

    <ng-template #editTenderCotizaciones let-modal>
        <div class="modal">
            <div class="modal-dialog modal-800">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{esp ? 'RANKING ' + f.controls.licitacion.value + ' ' + producto.descrip : 'RANKING
                        ' + f.controls.licitacion.value + ' ' + producto.detaeng}}</h5>
                        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body p-0"> 
                        <div class="container pl-0 ml-0 m-0 pb-0 pr-2 overflow-auto">
                            <table class="table table-responsive">
                                <thead class="offer-th">
                                    <tr>
                                        <th>{{esp ? 'Rank.' : 'Rank.'}}</th>
                                        <th *ngIf="cuenta.perfil==0">{{esp ? 'Oferta' : 'Offer'}}</th>
                                        <th>{{esp ? 'Empresa' : 'Brand'}}</th>
                                        <th>
                                            <div>{{esp ? 'Cantidad' : 'Quantity'}}</div>
                                            <div>{{f.controls.unidad.value}}</div>
                                        </th>
                                        <th>
                                            <div>{{esp ? 'Precio' : 'Price'}}</div>
                                            <div>U$S</div>
                                        </th>
                                        <th>
                                            <div>{{esp ? 'Total' : 'Total'}}</div>
                                            <div>U$S</div>
                                        </th>
                                        <th>
                                            <div>{{esp ? 'Entrega' : 'Delivery'}}</div>
                                            <div>{{esp ? 'D&iacute;as' : 'Days'}}</div>
                                        </th>
                                        <th>
                                            <div>{{esp ? 'Pago' : 'Payment'}}</div>
                                            <div>{{esp ? 'D&iacute;as' : 'Days'}}</div>
                                        </th>
                                        <th *ngIf="cuenta.perfil<=2">{{esp ? 'Desemp.' : 'Perform.'}}</th>
                                        <th>{{esp ? 'Scoring' : 'Scoring'}}</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of getFilterByTender(f.controls.licitacion_id.value)">
                                    <tr [style.background-color]="item.usuario === cuenta.usuario ? 'lightyellow' : 'white'">
                                        <td>
                                            <span class="badge badge-primary badge-pill"
                                            [style.background-color]="item.scoreRanking === 1 ? 'yellow' : 'white'"
                                            [style.font-weight]="item.scoreRanking === 1 ? 700 : 400" [style.color]="'black'">
                                            {{item.scoreRanking}}
                                            </span>
                                        </td>
                                        <td *ngIf="cuenta.perfil==0">{{item.oferta}}</td>
                                        <td *ngIf="cuenta.perfil<=2">{{item.usuario}}</td>
                                        <td *ngIf="cuenta.perfil>=3">{{item.usuario === cuenta.usuario ? item.usuario : ''}}</td>
                                        <td>{{item.cantidad}}</td>
                                        <td>{{item.precio}}</td>
                                        <td>{{total(item.precio,item.cantidad)}}</td>
                                        <td>{{item.entrega}}</td>
                                        <td>{{item.financiacion}}</td>
                                        <td *ngIf="cuenta.perfil<=2">{{item.desempeno}}</td>
                                        <td class="d-flex flex-nowrap">{{item.scoring}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>    

</div>