<div class="jumbotron"> 
    <form [formGroup]="fs" >
      <div class="form-group mb-2">
          <div class="row">
            <div class="col-sm-8 col-md-8">
                <h5 *ngIf="cuenta">{{esp ? 'Ofertas' : 'Offers'}}</h5>
                <h5 *ngIf="!cuenta">{{esp ? 'Mis Ofertas' : 'My Offers'}}</h5>
            </div>
            <div class="col-sm-4 col-md-4">
              <ngb-alert class="mt-2" *ngIf="siGrabo" type="success" (close)="siGrabo=false">{{msgGrabo}}</ngb-alert>
            </div>
        </div>
        <hr>
    
        <ng-container *ngIf="cuenta">
          <div class="row mt-2">
            <h3 for="fuser" class="col-sm-1 col-md-1 col-form-label">{{esp ? 'Usuario' : 'User'}}</h3> 
            <div class="col-sm-5 col-md-5 mb-2 ">
                <input type="text" class="form-control" formControlName="fuser" [readOnly]="cuenta.perfil >= 4" placeholder="Search..." id="fuser" [(ngModel)]="searchUsu">
            </div>
            <div class="col-sm-6 col-md-6 mb-2 d-flex justify-content-end">
                <button type="btn" class="btn btn-primary" (click)="openModal(editTenderModal, offer, 'A')">{{esp ? 'Nueva Oferta' : 'New Offer'}}
                    <img src="../../assets/img/plus-white.png" width="25" alt="">
                </button>
            </div>
          </div>
        </ng-container>

        <div class="row">
          <h3 for="fprod" class="col-sm-1 col-md-1 col-form-label">{{esp ? 'Producto' : 'Product'}}</h3> 
          <div class="col-sm-5 col-md-5 mb-2">
            <input type="text" class="form-control" formControlName="fdescrip" placeholder="Search..." id="fdescrip" [(ngModel)]="searchTerm">
          </div>
        </div>

      </div>
    </form>

    <div class="table-responsive mt-2">
        <table class="table" >
            <thead class="thead-light">
              <tr>
                <!-- <th>Id</th> -->
                <th scope="col">{{esp ? 'Oferta' : 'Offer'}}</th>
                <th scope="col">{{esp ? 'Licitacion' : 'Tender'}}</th>
                <th scope="col">{{esp ? 'Producto' : 'Product'}}</th>
                <th scope="col">{{esp ? 'Usuario' : 'User'}}</th>
                <th scope="col">{{esp ? 'Cantidad' : 'Quantity'}}</th>
                <th scope="col">{{esp ? 'Precio' : 'Price'}}</th>
                <th scope="col">{{esp ? 'Incoterm' : 'Incoterm'}}</th>
                <th scope="col">{{esp ? 'Entrega' : 'Delivery'}}</th>
                <th scope="col">{{esp ? 'Estado' : 'State'}}</th>
                <th scope="col">{{esp ? 'Acciones' : 'Acctions'}}</th>
            </tr>
            </thead>
            <tbody *ngFor="let offer of filterOffers; index as i;">
              <tr>
                <th scope="col">{{offer.oferta}}</th>
                <td>{{offer.licitacion}}</td>
                <td>{{offer.descrip}}</td>
                <td>{{offer.usuario}}</td>
                <td>{{offer.cantidad}} {{offer.unidad}}</td>
                <td>{{offer.precio}}</td>
                <td>{{offer.incoterm}}</td>
                <td>{{offer.entrega.substring(0,10)}}</td>
                <td *ngIf="offer.estado==0">{{esp ? 'Pendiente' : 'Pending'}}</td>
                <td *ngIf="offer.estado==1">{{esp ? 'Activa' : 'Active'}}</td>
                <td *ngIf="offer.estado==2">{{esp ? 'Finalizada' : 'Ended'}}</td>
                <td *ngIf="offer.estado==3">{{esp ? 'Adjudicada' : 'Assigned'}}</td>
                <td *ngIf="offer.estado==4">{{esp ? 'Cerrada' : 'Closed'}}</td>
                <td class="d-flex justify-content-between">      
                  <ng-container *ngIf="cuenta">
                    <ng-container *ngIf="cuenta.perfil!=3">
                      <button type="btn" class="btn btn-outline-light btn-sm mr-1" data-toggle="tooltip" title="New" (click)="openModal(editTenderModal, offer, 'M')">                
                        <img src="../../assets/img/pencil.png" width="25" alt="">
                      </button>
                      <button type="btn" class="btn btn-outline-light btn-sm mr-1" data-toggle="tooltip" title="Delete" (click)="openModal(editTenderModal, offer, 'B')">                  
                        <img src="../../assets/img/tacho.png" width="25" alt="">
                      </button>
                    </ng-container> 
                  </ng-container>
                  <button type="btn" class="btn btn-outline-light btn-sm" data-toggle="tooltip" title="Details" (click)="openModal(editTenderModal, offer, 'D')">                
                    <img src="../../assets/img/contract.png" width="25" alt="">
                  </button>
                </td>
              </tr>
            </tbody>
        </table>
        <ng-container *ngIf="notDone">
          <div class="d-flex justify-content-center">
            <div class="spinner-border m-5" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-container>
      </div>

    <ng-template #editTenderModal let-modal>
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="this.strTipo == 'A'">{{esp ? 'Nuevo' : 'New'}}</h5>
          <h5 class="modal-title" *ngIf="this.strTipo == 'B'">{{esp ? 'Borrar' : 'Delete'}}</h5>
          <h5 class="modal-title" *ngIf="this.strTipo == 'M'">{{esp ? 'Modificar' : 'Update'}}</h5>
          <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <div class="modal-body">
          <form [formGroup]="f" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="oferta" class="col-sm-3 col-form-label">{{esp ? 'Oferta' : 'Offer'}}</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" formControlName="oferta" id="oferta" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                    <!-- Error -->
                    <div *ngIf="f.controls.oferta.errors && f.controls.oferta.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.oferta.errors.required">Required</div>
                    </div>
                </div>
            </div>
  
            <div class="form-group row">
              <label for="licitacion" class="col-sm-3 col-form-label">{{esp ? 'Licitacion' : 'Tender'}}</label>
              <div class="col-sm-9">
                  <!-- <input type="number" class="form-control" formControlName="licitacion" id="licitacion" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'"> -->
                  <select class="custom-select" formControlName="licitacion" id="licitacion" required="required" (change)="changeTender($event)">
                    <option [value]="tender.licitacion" *ngFor="let tender of tenders">{{tender.licitacion}} {{tender.descrip}} {{tender.cantidad}} {{tender.unidad}}</option>
                  </select>
                <!-- Error -->
                  <div *ngIf="f.controls.licitacion.errors && f.controls.licitacion.dirty" class="alert alert-danger mt-0">
                  <div *ngIf="f.controls.licitacion.errors.required">Required</div>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="usuario" class="col-sm-3 col-form-label">{{esp ? 'Usuario' : 'User'}}</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="usuario" id="usuario" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                  <!-- Error -->
                  <!-- <div *ngIf="f.controls.usuario.errors && f.controls.usuario.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.usuario.errors.required">Required</div>
                  </div> -->
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">{{esp ? 'Email' : 'Email'}}</label>
              <div class="col-sm-9">
                  <input type="email" class="form-control" formControlName="email" id="email" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                  <!-- Error -->
                  <!-- <div *ngIf="f.controls.email.errors && f.controls.email.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.usuario.errors.required">Required</div>
                  </div> -->
              </div>
            </div>

            <!-- <div class="form-group row">
                <label for="proveedor" class="col-sm-3 col-form-label">{{esp ? 'Proveedor' : 'Supplier'}}</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" formControlName="proveedor" id="proveedor" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                    <!-- Error -->
                    <!-- <div *ngIf="f.controls.proveedor.errors && f.controls.proveedor.dirty" class="alert alert-danger mt-0">
                      <div *ngIf="f.controls.proveedor.errors.required">Required</div>
                    </div>
                </div>
              </div> -->
  
              <div class="form-group row">
                <label for="provenom" class="col-sm-3 col-form-label">{{esp ? 'Nombre' : 'Name'}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="provenom" id="provenom" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                    <!-- Error -->
                    <!-- <div *ngIf="f.controls.provenom.errors && f.controls.provenom.dirty" class="alert alert-danger mt-0">
                      <div *ngIf="f.controls.provenom.errors.required">Required</div>
                    </div> -->
                </div>
              </div>
  
              <div class="form-group row">
              <label for="fecha" class="col-sm-3 col-form-label">{{esp ? 'Inicio' : 'Start'}}</label>
              <div class="col-sm-9">
                  <input type="date" class="form-control" formControlName="fecha" id="fecha" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                  <!-- Error -->
                  <div *ngIf="f.controls.fecha.errors && f.controls.fecha.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.fecha.errors.required">Required</div>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="finaliza" class="col-sm-3 col-form-label">{{esp ? 'Fin' : 'End'}}</label>
              <div class="col-sm-9">
                  <input type="date" class="form-control" formControlName="finaliza" id="finaliza" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                  <!-- Error -->
                  <div *ngIf="f.controls.finaliza.errors && f.controls.finaliza.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.finaliza.errors.required">Required</div>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="producto" class="col-sm-3 col-form-label">{{esp ? 'Producto' : 'Product'}}</label>
              <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="producto" id="producto">
                 <!-- Error -->
                  <div *ngIf="f.controls.producto.errors && f.controls.producto.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.producto.errors.required">Required</div>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="descrip" class="col-sm-3 col-form-label">{{esp ? 'Descrip' : 'Descrip'}}</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="descrip" id="descrip">
                  <!-- Error -->
                  <div *ngIf="f.controls.descrip.errors && f.controls.descrip.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.descrip.errors.required">Required</div>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="cantidad" class="col-sm-3 col-form-label">{{esp ? 'Cantidad' : 'Quantity'}}</label>
              <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="cantidad" id="cantidad" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                  <!-- Error -->
                  <div *ngIf="f.controls.cantidad.errors && f.controls.cantidad.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.cantidad.errors.required">Required</div>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="unidad" class="col-sm-3 col-form-label">{{esp ? 'Unidad' : 'Unity'}}</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="unidad" id="unidad" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                  <!-- Error -->
                  <div *ngIf="f.controls.unidad.errors && f.controls.unidad.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.unidad.errors.required">Required</div>
                  </div>
              </div>
            </div>

            <!-- <div class="form-group row">
              <label for="costo" class="col-sm-3 col-form-label">{{esp ? 'Costo' : 'Cost'}}</label>
              <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="costo" id="costo" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                  <!-- Error -->
                  <!-- <div *ngIf="f.controls.costo.errors && f.controls.costo.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.costo.errors.required">Required</div>
                  </div>
              </div>
            </div>  -->

            <div class="form-group row">
                <label for="precio" class="col-sm-3 col-form-label">{{esp ? 'Precio' : 'Price'}}</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" formControlName="precio" id="precio" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                    <!-- Error -->
                    <!-- <div *ngIf="f.controls.precio.errors && f.controls.precio.dirty" class="alert alert-danger mt-0">
                      <div *ngIf="f.controls.precio.errors.required">Required</div>
                    </div> -->
                </div>
            </div>
  
            <div class="form-group row">
                <label for="incoterm" class="col-sm-3 col-form-label">{{esp ? 'INCOTERM' : 'INCOTERM'}}</label>
                <div class="col-sm-9">
                  <select class="custom-select" formControlName="incoterm" id="incoterm" required="required">
                    <option selected>{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                    <option value="CIF">CIF</option>
                    <option value="CFR">CFR</option>
                    <option value="CPT">CPT</option>
                    <option value="FAS">FAS</option>
                    <option value="FCA">FCA</option>
                    <option value="FOB">FOB</option>
                  </select>
                </div>  
            </div>
      
            <div class="form-group row">
              <label for="entrega" class="col-sm-3 col-form-label">{{esp ? 'Entrega' : 'Delivery'}}</label>
              <div class="col-sm-9">
                  <input type="date" class="form-control" formControlName="entrega" id="entrega" [readOnly]="this.strTipo == 'B' || this.strTipo == 'P'">
                  <!-- Error -->
                  <!-- <div *ngIf="f.controls.entrega.errors && f.controls.entrega.dirty" class="alert alert-danger mt-0">
                    <div *ngIf="f.controls.entrega.errors.required">Required</div>
                  </div> -->
              </div>
            </div>

            <div *ngIf="this.strTipo !== 'B' && this.strTipo !== 'P'" class="form-group row">
                <label for="estado" class="col-sm-3 col-form-label">{{esp ? 'Estado' : 'State'}}</label>
                <div class="col-sm-9">
                  <select class="custom-select" formControlName="estado" id="estado" required="required">
                    <option selected>{{esp ? 'Elija una opcion...' : 'Choose...'}}</option>
                    <option value=0>{{esp ? 'Pendiente' : 'Pending'}}</option>
                    <option value=1>{{esp ? 'Activa' : 'Active'}}</option>
                    <option value=2>{{esp ? 'Finalizada' : 'Ended'}}</option>
                    <option value=3>{{esp ? 'Adjudicada' : 'Assigned'}}</option>
                    <option value=4>{{esp ? 'Cerrada' : 'Closed'}}</option>
                  </select>
                </div>  
            </div>
      
            <div class="modal-footer">
              <div *ngIf="this.strTipo === 'B'">
                <button type="submit" class="btn btn-primary">{{esp ? 'Borrar' : 'Delete'}}</button>
              </div>
              <div *ngIf="this.strTipo !== 'B'">
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{esp ? 'Guardar' : 'Save'}}</button>
              </div>
              <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">{{esp ? 'Cancelar' : 'Cancel'}}</button>
            </div>
          </form>
        </div>
      
        <!-- <hr>
        <pre>{{f.controls.pass.errors | json}}</pre>
        <hr>
        <hr> -->
        <!-- <pre>{{f.errors | json}}</pre>
        <hr> -->
      
    </ng-template>
      
</div>
