.jumbotron {
    background-color: white;
    color: black;
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
}

hr {
    background-color:#333;
}

.my_checkbox {
    width:5vw;
    height:5vh;
}
