.jumbotron {
    background-color: white;
    color: black;
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
}

hr {
    background-color:#333;
}

.my_checkbox {
    width:5vw;
    height:5vh;
}

.badge {
    font-size: 100%;
    color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.descrip {
    background-color: lemonchiffon;
    padding: .5rem;
}

.caracteris {
    background-color: lemonchiffon;
    padding: 0 .75rem 0 .75rem;
    margin-bottom: 0;
 }

.upfiles label  {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.upfiles {
    color: blue;
    text-decoration: underline;
}

span:hover a {
    color: red;
}

a + input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.upfiles table {
    margin-bottom: 0px;
    border-top: 0px;
}

.upfiles table td {
    vertical-align: top;
    padding: 0px;
    border-top: 0px;
    cursor: pointer;
}

.filesicon {
    vertical-align: top;
}

.mat-cell, mat-header-cell {
    padding: 5px 5px;
    text-align: center;
}

.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited,
.btn-warning:focus {
    background-color: orange;
    border-color: orange;
    color: white;
}

.modal-dialog.modal-800 {
    max-width: 600px;
    margin: 1.75rem auto;
}

.modal {
    display:inherit;
    /* width: 125%; */
}
  
.offer-th {
    background-color: lightcyan;
}

.table thead th {
    vertical-align: top; 
}

.acciones {
    display: flex
}