<ng-container *ngIf="data.tipo=='Confirma'" >
    <h1 mat-dialog-title>{{esp ? 'Confirma?' : 'Confirm?'}}</h1>
    <mat-dialog-content class="mat-typography">
        <!-- <h2 mat-dialog-title>{{data.mensaje}}</h2> -->
        <p>{{data.mensaje}}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close (click)="onClickNo()">No</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onClickYes()">Si</button>
    </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="data.tipo=='Confirma Mails'" >
    <h1 mat-dialog-title>{{esp ? 'Confirma?' : 'Confirm?'}}</h1>
    <mat-dialog-content class="mat-typography">
        <!-- <h2 mat-dialog-title>{{data.mensaje}}</h2> -->
        <p>{{data.mensaje}}<strong>{{data.product}}</strong>{{data.mensaje2}}<strong>{{data.tender}}</strong></p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close (click)="onClickNo()">No</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onClickYes()">Si</button>
    </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="data.tipo=='Aviso'" >
    <!-- <h2 mat-dialog-title>{{esp ? 'Confirma?' : 'Confirm?'}}</h2> -->
    <!-- <h2 mat-dialog-title>{{data.mensaje}}</h2> -->
    <h1 mat-dialog-title>{{esp ? 'Aviso' : 'Notice'}}</h1>
    <mat-dialog-content>
        <h2>{{data.mensaje}}</h2>
        <br>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close (click)="onClickNo()">
            <mat-icon class="green">done_outline</mat-icon>
            <!-- <i class="mdi mdi-check-outline md-24"></i> -->
        </button>
    </mat-dialog-actions>
    <br>
</ng-container>

<ng-container *ngIf="data.tipo=='Error'" >
    <h1 mat-dialog-title>{{esp ? 'Error' : 'Error'}}</h1>
    <mat-dialog-content>
        <h2>{{data.mensaje}}</h2>
        <br>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close (click)="onClickNo()">
            <mat-icon class="red">error</mat-icon>
        </button>
    </mat-dialog-actions>
    <br>
</ng-container>

<ng-container *ngIf="data.tipo=='Alerta'">
    <h1 mat-dialog-title>{{esp ? 'Alerta' : 'Alerta'}}</h1>
    <mat-dialog-content class='dialog-alerta'>
        <h2>{{data.mensaje}}</h2>
        <h5>{{data.mensaje2}}</h5>
        <!-- <br> -->
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close (click)="onClickNo()">
            <mat-icon class="red">error</mat-icon>
        </button>
    </mat-dialog-actions>
    <!-- <br> -->
</ng-container>
