/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Change text in autofill textbox*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    /* -webkit-box-shadow: 0 0 0px 1000px #fff inset; */
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    height: 60vh;
}

.mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
}

.mat-header-cell, .mat-header-row, .mat-header-cell-def {
    display: table-row;
    background-color: lightcyan;
    font-weight:bold;
    font-size: 16px;
}

.mat-row {
    display: table-row;
}

.mat-sort-header-container {
    justify-content:center;
}

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: wrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.container-btn-new {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
    
#newbutton {
    margin-bottom: 1rem; 
    /* width: 90%; */
    /* margin: auto; */
    cursor: pointer;
}

#filterbutton {
    margin-bottom: 1rem; 
    /* width: 90%; */
    /* margin: auto; */
    cursor: pointer;
}

#addgroupbutton {
    margin-bottom: 1rem; 
    /* width: 90%; */
    /* margin: auto; */
    cursor: pointer;
}

#deletegroupbutton {
    margin-bottom: 1rem; 
    /* width: 90%; */
    /* margin: auto; */
    cursor: pointer;
}

.my_checkbox {
    width:5vw;
    height:5vh;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    display: block;
    /* margin-top: 1rem; */
}
  
/* .mat-checkbox-frame,
.mat-checkbox-background,
.mat-checkbox-anim-unchecked-checked
.mat-checkbox-anim-checked-unchecked {
    margin: 2px 8px auto 0;
    transform: scale(2);
} */

.mat-checkbox-inner-container {
    margin-top: 8px !important;
    margin-right: 10px !important;
}

button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
}